@import "../common/_base";
@import "../renders/bootstrap/form-field/form-field-render";

gx-form-field {
  @include reset-variables();
  @include visibility(flex);

  justify-self: stretch;
  align-self: stretch;
  flex: 1;
}

[align="left"],
:not([align]) {
  & > gx-form-field {
    [data-part="field"],
    .gx-edit-readonly-container {
      text-align: start;
    }

    gx-radio-group[direction="vertical"] [data-part="option-control"],
    gx-radio-group[direction="horizontal"],
    gx-checkbox,
    gx-gauge {
      justify-content: flex-start;
    }
  }
}

[align="center"] {
  & > gx-form-field {
    [data-part="field"],
    .gx-edit-readonly-container {
      text-align: center;
    }

    gx-radio-group[direction="vertical"] [data-part="option-control"],
    gx-radio-group[direction="horizontal"],
    gx-checkbox,
    gx-gauge {
      justify-content: center;
    }
  }
}

[align="right"] {
  & > gx-form-field {
    [data-part="field"],
    .gx-edit-readonly-container {
      text-align: end;
    }

    gx-radio-group[direction="vertical"] [data-part="option-control"],
    gx-radio-group[direction="horizontal"],
    gx-checkbox,
    gx-gauge {
      justify-content: flex-end;
    }
  }
}

[valign="top"] {
  & > gx-form-field {
    .gx-edit-readonly-container,
    [data-part="container"],
    gx-checkbox > .option-and-label-container {
      align-items: flex-start;
    }

    gx-radio-group {
      &[direction="vertical"] {
        justify-content: flex-start;
      }

      &[direction="horizontal"] {
        align-content: flex-start;
      }
    }

    gx-gauge {
      align-items: flex-start;
    }
  }
}

[valign="middle"] {
  & > gx-form-field {
    .gx-edit-readonly-container,
    [data-part="container"],
    gx-checkbox > .option-and-label-container {
      align-items: center;
    }

    gx-radio-group {
      &[direction="vertical"] {
        justify-content: center;
      }

      &[direction="horizontal"] {
        align-content: center;
      }
    }

    gx-gauge {
      align-items: center;
    }
  }
}

[valign="bottom"] {
  & > gx-form-field {
    .gx-edit-readonly-container,
    [data-part="container"],
    gx-checkbox {
      align-items: flex-end;
    }

    gx-radio-group {
      &[direction="vertical"] {
        justify-content: flex-end;
      }

      &[direction="horizontal"] {
        align-content: flex-end;
      }
    }

    gx-gauge {
      align-items: flex-end;
    }
  }
}

// If the inner control is readonly, the default vertical alignment might vary
:not([valign]) {
  & > gx-form-field {
    // gx-checkbox's default is center
    gx-checkbox[readonly="true"] > .option-and-label-container {
      align-items: flex-start;
    }

    [data-part="container"] {
      align-items: center;
    }

    // gx-radio-group's default is flex-start
    gx-radio-group:not([readonly="true"]) {
      &[direction="vertical"] {
        justify-content: center;
      }

      &[direction="horizontal"] {
        align-content: center;
      }
    }

    gx-gauge {
      align-items: center;
    }
  }
}
