@import "../common/_base";
@import "../renders/bootstrap/form-field/form-field-render";

gx-form-field {
  @include reset-variables();
  @include visibility(flex);

  justify-self: stretch;
  align-self: stretch;
  flex: 1;
}

[align="left"] {
  & > gx-form-field {
    [data-part="field"],
    [data-readonly] {
      text-align: start;
    }

    gx-gauge {
      justify-content: flex-start;
    }
  }
}

[align="center"] {
  & > gx-form-field {
    [data-part="field"],
    [data-readonly] {
      text-align: center;
    }

    gx-gauge {
      justify-content: center;
    }
  }
}

[align="right"] {
  & > gx-form-field {
    [data-part="field"],
    [data-readonly] {
      text-align: end;
    }

    gx-gauge {
      justify-content: flex-end;
    }
  }
}

[valign="top"] {
  & > gx-form-field {
    [data-readonly]:not([direction="vertical"]),
    [data-part="container"] {
      align-items: flex-start;
    }

    gx-radio-group[direction="vertical"] {
      justify-content: flex-start;
    }

    gx-gauge {
      align-items: flex-start;
    }
  }
}

[valign="middle"] {
  & > gx-form-field {
    [data-part="label"] {
      align-self: center;
    }

    [data-readonly]:not([direction="vertical"]),
    [data-part="container"] {
      align-items: center;
    }

    gx-radio-group[direction="vertical"] {
      justify-content: center;
    }

    gx-gauge {
      align-items: center;
    }
  }
}

[valign="bottom"] {
  & > gx-form-field {
    [data-part="label"] {
      align-self: flex-end;
    }

    [data-readonly]:not([direction="vertical"]),
    [data-part="container"] {
      align-items: flex-end;
    }

    gx-radio-group[direction="vertical"] {
      justify-content: flex-end;
    }

    gx-gauge {
      align-items: flex-end;
    }
  }
}
