@import "../common/_base";
@import "../renders/bootstrap/form-field/form-field-render";

gx-form-field {
  @include reset-variables();
  @include visibility(flex);

  justify-self: stretch;
  align-self: stretch;
  flex: 1;
}

[align="left"],
:not([align]) {
  & > gx-form-field {
    [data-part="field"],
    [data-readonly] {
      text-align: start;
    }

    gx-radio-group[direction="vertical"] [data-part="option-control"],
    gx-radio-group[direction="horizontal"],
    gx-checkbox,
    gx-gauge {
      justify-content: flex-start;
    }
  }
}

[align="center"] {
  & > gx-form-field {
    [data-part="field"],
    [data-readonly] {
      text-align: center;
    }

    gx-radio-group[direction="vertical"] [data-part="option-control"],
    gx-radio-group[direction="horizontal"],
    gx-checkbox,
    gx-gauge {
      justify-content: center;
    }
  }
}

[align="right"] {
  & > gx-form-field {
    [data-part="field"],
    [data-readonly] {
      text-align: end;
    }

    gx-radio-group[direction="vertical"] [data-part="option-control"],
    gx-radio-group[direction="horizontal"],
    gx-checkbox,
    gx-gauge {
      justify-content: flex-end;
    }
  }
}

[valign="top"] {
  & > gx-form-field {
    /*  gx-radio-group has data-readonly property in its definition, so with
        :not([direction]) selector we make sure that gx-radio-group will not be
        affected.
    */
    [data-readonly]:not([direction]),
    [data-part="container"],
    gx-checkbox {
      align-items: flex-start;
    }

    gx-radio-group {
      &[direction="vertical"] {
        justify-content: flex-start;
      }

      &[direction="horizontal"] {
        align-content: flex-start;
      }
    }

    gx-gauge {
      align-items: flex-start;
    }
  }
}

[valign="middle"],
:not([valign]) {
  & > gx-form-field {
    [data-part="label"] {
      align-self: center;
    }

    [data-readonly]:not([direction]),
    [data-part="container"],
    gx-checkbox {
      align-items: center;
    }

    gx-radio-group {
      &[direction="vertical"] {
        justify-content: center;
      }

      &[direction="horizontal"] {
        align-content: center;
      }
    }

    gx-gauge {
      align-items: center;
    }
  }
}

[valign="bottom"] {
  & > gx-form-field {
    [data-part="label"] {
      align-self: flex-end;
    }

    [data-readonly]:not([direction]),
    [data-part="container"],
    gx-checkbox {
      align-items: flex-end;
    }

    gx-radio-group {
      &[direction="vertical"] {
        justify-content: flex-end;
      }

      &[direction="horizontal"] {
        align-content: flex-end;
      }
    }

    gx-gauge {
      align-items: flex-end;
    }
  }
}
