@import "../common/_base";

gx-layout-editor-placeholder {
  --gx-le-drop-target-gap-increment-factor: 30;

  @include visibility(flex);
}

gx-layout-editor[data-gx-le-dragging] {
  gx-layout-editor-placeholder {
    padding-top: calc(var(--gx-le-table-placeholder-height) / 2);
    padding-bottom: calc(
      (var(--gx-le-table-placeholder-height) / 2) - var(--gx-le-table-cell-gap)
    );

    &::before {
      content: "";
      position: relative;
      height: calc(
        var(--gx-le-table-cell-gap) *
          var(--gx-le-drop-target-gap-increment-factor)
      );
      width: 100%;
      display: block;
      top: calc(
        (
            var(--gx-le-table-cell-gap) *
              var(--gx-le-drop-target-gap-increment-factor) / -2
          ) - (var(--gx-le-table-placeholder-height) / 2)
      );
    }
  }
}
