@import "../common/css-transforms/scss-transforms";

////
/// @group theming-mixins
////

$grid-content-selector: "& > [slot='grid-content']:not(virtual-scroller) >, & > * > .scrollable-content >";

/// Helper mixin to ease styling gx-grid-base custom elements
/// @param {string} $odd-row Class for styling the Odd row
/// @param {string} $even-row Class for styling the Odd even
/// @param {string} loading-animation Class for styling the grid loading animation. WA to temporarily maintain backwards compatibility with CSS generation
/// @param {string} group-separator Class for styling the grid group-separator
@mixin gx-grid-base(
  $odd-row: null,
  $even-row: null,
  // WA to temporarily maintain backwards compatibility with CSS generation
    $loading-animation: null,
  $group-separator: null
) {
  // - - - - - - - - - - Odd row - - - - - - - - - -
  @if ($odd-row != null) {
    &#{$gx-odd-row} {
      @extend #{$odd-row} !optional;
    }

    // Highlighted class
    &#{$gx-odd-row}#{$gx-highlighted-dot} {
      @extend #{str-replace($odd-row, ".", "%")}#{$gx-highlighted} !optional;
    }
  }

  // - - - - - - - - - - Even row - - - - - - - - - -
  @if $even-row != null {
    &#{$gx-even-row} {
      @extend #{$even-row} !optional;
    }

    // Highlighted class
    &#{$gx-even-row}#{$gx-highlighted-dot} {
      @extend #{str-replace($even-row, ".", "%")}#{$gx-highlighted} !optional;
    }
  }

  @if ($group-separator != null) {
    #{$grid-content-selector} {
      .gx-group-separator {
        @extend #{$group-separator} !optional;
      }
    }
  }

  // WA to temporarily maintain backwards compatibility with CSS generation
  @if $loading-animation != null {
    &#{$gx-loading} {
      @extend #{$loading-animation}#{$gx-vars} !optional;
    }
  }
}
