@import "../common/_base";

$gridContentSelector: "& > *[slot='grid-content']:not(virtual-scroller), & > * > .scrollable-content";

.gx-grid-base {
  flex: 1;
  align-self: stretch;

  #{$gridContentSelector} {
    flex: 1;
  }

  & > .grid-empty-placeholder,
  & > [slot="grid-empty-loading-placeholder"] {
    @include visibility(none);
  }

  & > .grid-empty-placeholder > [slot="grid-content-empty"] {
    flex: 1;
    align-self: stretch;
  }
}

.gx-grid-base.gx-grid-empty:not(.gx-grid-loading) {
  & > :first-child {
    @include visibility(none);
  }
  .grid-empty-placeholder {
    @include visibility(flex);
    flex: 1;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
}

.gx-grid-base.gx-grid-empty {
  #{$gridContentSelector},
  .gx-grid-paging {
    @include visibility(none);
  }
}

.gx-grid-base.gx-grid-empty-loading {
  & > :first-child {
    @include visibility(none);
  }
  & [slot="grid-empty-loading-placeholder"] {
    @include visibility(flex);
    flex: 1;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

.gx-grid-row {
  position: relative;
}
