@import "../common/_base";

.gx-grid-base {
  @include visibility(block);
  display: flex;
  flex: 1;

  & > [slot="grid-content"] {
    flex: 1;
  }

  & > .grid-empty-placeholder,
  & > [slot="grid-empty-loading-placeholder"] {
    @include visibility(none);
  }
}

.gx-grid-base.gx-grid-empty:not(.gx-grid-loading) {
  .grid-empty-placeholder {
    @include visibility(flex);
    flex: 1;
    align-items: center;
    justify-content: center;
  }
}

.gx-grid-base.gx-grid-empty {
  & > [slot="grid-content"],
  .gx-grid-paging {
    @include visibility(none);
  }
}

.gx-grid-base.gx-grid-empty-loading {
  & [slot="grid-content"] {
    @include visibility(none);
  }
  & [slot="grid-empty-loading-placeholder"] {
    flex: 1;
    @include visibility(flex);
    align-items: center;
    justify-content: center;
    text-align: center;
    flex: 1;
  }
}
