@import "../common/_base";

.gx-grid-base {
  @include visibility(block);
  display: flex;
  flex: 1;

  .grid-empty-placeholder {
    display: none;
  }
}

.gx-grid-base.gx-grid-empty:not(.gx-grid-loading) {
  .grid-empty-placeholder {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.gx-grid-base.gx-grid-empty {
  div[slot="grid-content"],
  .gx-grid-paging {
    display: none;
  }
}
