@import "../common/_base";
@import "../common/common-styling-config";
@import "../common/_image-position";

// Used to set the margin for different types of images
@mixin imageMargin() {
  [slot="main-image"],
  [slot="disabled-image"] {
    margin: var(--gx-button-image-margin-top)
      var(--gx-button-image-margin-right) var(--gx-button-image-margin-bottom)
      var(--gx-button-image-margin-left);
  }
}

// The width property does not apply when the navbar is the main container
gx-table-cell {
  & > gx-button {
    width: var(--width, auto);
  }
}

// Due to the gx-canvas-cell defines the width of the inner button, it is
// necessary to strech the width of the gx-button
gx-canvas-cell {
  & > gx-button {
    flex: 1;
  }
}

gx-button {
  /**
   * @prop --gx-button-image-size: Button image size
   * (16px by default)
   */
  --gx-button-image-size: 16px;

  /**
   * @prop --gx-button-image-margin-top: Button image top margin
   * (0px by default)
   */
  --gx-button-image-margin-top: 0px;

  /**
   * @prop --gx-button-image-margin-right: Button image right margin
   * (0px by default)
   */
  --gx-button-image-margin-right: 0px;

  /**
   * @prop --gx-button-image-margin-bottom: Button image bottom margin
   * (0px by default)
   */
  --gx-button-image-margin-bottom: 0px;

  /**
   * @prop --gx-button-image-margin-left: Button image left margin
   * (0px by default)
   */
  --gx-button-image-margin-left: 0px;

  --elevation: 0;

  @include visibility(inline-flex);

  // Used to decide the position of the image
  @include imagePosition("button.gx-button", ".disabled");
  @include imageMargin();

  @include reset-variables();
  height: var(--height);
  overflow: hidden;

  &.disabled {
    pointer-events: none;
  }

  &.stretch-height {
    align-self: stretch;
  }

  // If the button caption is empty, the inner image will stretch to the
  // container size
  &.empty-caption {
    --gx-button-image-size: 100%;
  }

  // Default appearance
  & > button {
    background-color: transparent;
    border-style: none;
    padding: 0;
    user-select: none;
  }

  & > .gx-button {
    @include elevation();

    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    max-width: 100%;
    outline: unset;

    // Avoid zooming on double tap
    touch-action: manipulation;
    transition-property: background-color, border-color, box-shadow, color,
      filter, opacity;
    transition-duration: $transition-delay;

    & > img {
      height: var(--gx-button-image-size);
      width: var(--gx-button-image-size);
      object-fit: contain;
    }

    & > span {
      display: block;
      max-width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
