@import "../common/_base";
@import "../common/_image-position";
@import "../renders/bootstrap/button/button-render";

gx-button {
  @include visibility(inline-flex);

  --gx-button-image-size: 16px;
  margin-top: var(--margin-top);
  margin-right: var(--margin-right);
  margin-bottom: var(--margin-bottom);
  margin-left: var(--margin-left);

  align-self: stretch;
  vertical-align: middle;

  & > button.gx-button {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    max-width: 100%;

    & > img {
      height: var(--gx-button-image-size);
      width: var(--gx-button-image-size);
      object-fit: contain;
    }

    & > span {
      display: block;
      max-width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &:not(:disabled):not(.disabled) {
      &:focus,
      &:active:focus {
        box-shadow: none;
      }
    }
  }

  @include imagePosition("button.gx-button", ".gx-button--disabled");
}
