@import "../common/_base";

gx-grid-infinite-scroll {
  @include visibility(flex);
  align-items: center;
  justify-content: center;
  text-align: center;
  flex: 1;
}

gx-grid-infinite-scroll-content,
.gx-grid-empty:not(.gx-grid-loading) gx-grid-infinite-scroll {
  @include visibility(none);
}

.infinite-scroll-loading gx-grid-infinite-scroll-content,
.gx-grid-loading gx-grid-infinite-scroll-content {
  @include visibility(block);
  flex: 1;
}
