gx-grid-infinite-scroll {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex: 1;
}

gx-grid-infinite-scroll-content,
.gx-grid-empty:not(.gx-grid-loading) gx-grid-infinite-scroll {
  display: none;
}

.infinite-scroll-loading gx-grid-infinite-scroll-content,
.gx-grid-loading gx-grid-infinite-scroll-content {
  display: block;
  flex: 1;
}
