@import "../common/_base";

gx-radio-group {
  @include visibility(flex);

  margin-top: var(--margin-top, 0);
  margin-right: var(--margin-right, 0);
  margin-bottom: var(--margin-bottom, 0);
  margin-left: var(--margin-left, 0);

  &[direction="vertical"] {
    flex-direction: column;

    & > gx-radio-option {
      flex: 1;
    }
  }

  &[direction="horizontal"] {
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
