@import "../common/_base";
@import "../common/common-styling-config";

gx-radio-group {
  @include elevation();
  @include visibility(flex);
  flex: 1;
  @include transition-properties();

  &[direction="vertical"] {
    flex-direction: column;
  }

  &[direction="horizontal"] {
    flex-wrap: wrap;
  }
}
