@import "../common/_base";

gx-radio-group {
  @include visibility(flex);
  @include container-margins();
  flex: 1;

  &[direction="vertical"] {
    flex-direction: column;
  }

  &[direction="horizontal"] {
    flex-wrap: wrap;
  }
}
