@import "../common/_base";
@import "../renders/bootstrap/edit/edit-render";

gx-edit {
  @include visibility(flex);
  @include elevation();

  &[multiline][readonly="false"] {
    @include visibility(block);
  }
  align-items: stretch;
  flex: 1;

  &.gx-edit {
    &--single-line {
      [data-readonly] {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}
