@import "../common/_base";
@import "../renders/bootstrap/edit/edit-render";

gx-edit {
  @include visibility(flex);
  @include line-clamp();

  &[multiline][readonly="false"] {
    @include visibility(block);
  }
  align-items: stretch;
  flex: 1;

  // Remove outline of the focus state. This selector must not have higher
  // specificity, since it should be overridden by the class applied to the control
  outline: unset;

  &.gx-edit {
    &--single-line {
      [data-readonly] {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}
