@import "../components/common/alignment-with-shadow-dom";
@import "../components/common/base";
@import "../components/common/common-styling-config";
@import "../components/common/layout-styling-config";

@include base-styling-for-application();

// - - - - - - - - - - - - - - - - - - - -
//               Card header
// - - - - - - - - - - - - - - - - - - - -
// Needed to stretch the dropdown width to the width of the buttons
gx-card-header > li > gx-button::part(caption) {
  overflow: unset;
}

// - - - - - - - - - - - - - - - - - - - -
//          Cells (table, canvas)
// - - - - - - - - - - - - - - - - - - - -
.gx-cell {
  @include align-inner-control-in-cell();
  @include text-align-with-shadow-DOM();
  @include valign-with-shadow-DOM();

  flex-direction: row; // Do not change flex-direction. All alignments will break

  // Used when autoGrow = false in the gx-textblock and gx-edit controls to
  // ensure the content does not overflows
  &[max-height],
  &:not([auto-grow]) {
    & > gx-textblock::part(content),
    & > gx-form-field .gx-edit-content {
      position: absolute;
    }
  }
}

// Style applied to the highlightable controls
[data-has-action] {
  cursor: pointer;
}

// - - - - - - - - - - - - - - - - - - - -
//                 Message
// - - - - - - - - - - - - - - - - - - - -
gx-navbar + gx-message {
  top: $gx-navbar-main-height;
}

// - - - - - - - - - - - - - - - - - - - -
//                  Modal
// - - - - - - - - - - - - - - - - - - - -
// Disable html's scrollbars when a gx-modal is presented and the html has
// content that overflows vertically. Does not apply to mobile devices
html.gx-disable-scroll {
  gx-navbar,
  gx-layout {
    padding-right: 8px;
  }
}

html.gx-disable-scroll,
html.gx-disable-scroll-mobile {
  overflow: hidden;
}

// Hide gx-modal's scrollbars
gx-modal::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
