@import "../common/base";
@import "../common/common-styling-config";
@import "../grid-base/grid-base";

gx-grid-image-map {
  @include visibility(block);
  position: relative;
  width: 100%;

  & > pinch-zoom > .gx-image-map-container {
    position: relative;
    width: 100%;
    overflow: hidden;

    & > [slot="grid-content"] {
      position: absolute;
      inset: 0;
    }
  }
}

gx-grid-image-map,
pinch-zoom {
  & > [slot="grid-content-empty"],
  & > [slot="grid-empty-loading-placeholder"] {
    position: absolute;
    inset-block-start: 0;
    inset-inline-start: 0;
  }
}

.gx-image-map-container {
  & > .inner-img {
    pointer-events: none;
    width: 100%;
    max-width: 100%;
    z-index: -1;
    object-fit: contain;
  }

  & > .tooltip-text {
    position: absolute;
    inset-inline-end: 0;
    inset-block-end: 0;
    max-width: min(256px, 32%);
    background-color: black;
    border-radius: 16px;
    box-shadow: 0 2px 12px 0px #00000080;
    color: #fff;
    padding: 8px;
    margin: 8px;
    text-align: center;
    z-index: 99;
    animation: tooltip-fade-in $transition-duration;
  }
}

// - - - - - - - - - - - - - - - -
//           Key frames
// - - - - - - - - - - - - - - - -
@keyframes tooltip-fade-in {
  0% {
    opacity: 0;
  }
}
