@import "../common/alignment-with-shadow-dom";
@import "../common/_base.scss";

gx-canvas-cell {
  @include align-inner-control-in-cell();
  @include text-align-with-shadow-DOM();
  @include valign-with-shadow-DOM();

  position: absolute;
  flex-direction: row; // Do not change flex-direction. All alignments will break

  // Inherit from the parent element (.canvas-cells-container)
  overflow: var(--gx-overflow-style);

  // Used when autoGrow = false in the gx-textblock and gx-edit controls to
  // ensure the content does not overflows
  &[max-height] {
    & > gx-textblock::part(content),
    & > gx-form-field > .form-field-group .gx-edit-content {
      position: absolute;
    }
  }
  // TODO: Improve efficiency of the last selector
}
