@import "../grid-base/grid-base.scss";

////
/// @group theming-mixins
////

/// Helper mixin to ease styling gx-grid-smart-flex custom elements
/// @param {string} $direction scroll direction of item layou
/// @param {string} $wrap flex wrap value
/// @param {string} $flexGrow Grid Item flex wrap value
/// @param {string} $flexShrink Grid Item flex shrink value
/// @param {string} $flexBasis Grid Item flex wrap value
@mixin gx-grid-smart-flex-item(
  $direction,
  $wrap,
  $flexGrow,
  $flexShrink,
  $flexBasis: calc(100% / var(--gx-grid-flex-items))
) {
  display: flex;
  flex-direction: $direction;
  flex-wrap: $wrap;

  & > gx-grid-smart-flex-item {
    @if ($flexBasis != null) {
      flex: $flexGrow $flexShrink $flexBasis;
    }

    & > * {
      box-sizing: border-box;
    }
  }
}
