@mixin size($width, $height) {
  height: $height;
  width: $width;
}

gx-interactive-image {
  display: flex;
  height: auto;
  width: auto;

  overflow: hidden;

  img {
    @include size(100%, 100%);
  }
}
