@import "../common/_base";

@mixin size($width, $height) {
  height: $height;
  width: $width;
}

gx-interactive-image {
  /**
  * @prop --control-height:
   * Set the height or the control. *Must be set before render the control*
   * (auto by default)
  */
  --control-height: auto;

  /**
	* @prop --control-width:
	 * Set the width or the control. *Must be set before render the control*
	 * (100% by default)
	*/
  --control-width: auto;

  @include visibility(flex);
  @include size(var(--control-width), var(--control-height));
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;

  img {
    @include size(100%, auto);
    object-fit: cover;
  }
}
