@import "../common/layout-styling-config.scss";

$gx-layout-vertical-targets-breakpoint: 1200px;

// WA to remove "line-height: 1.5" property from Bootstrap's selector
html > body {
  line-height: normal;
}

gx-layout {
  /**
   * @prop --gx-layout-vertical-target-width: Width for vertical targets (left and right)
   */
  --gx-layout-vertical-target-width: auto;
  /**
   * @prop --gx-layout-horizontal-target-height: Height for horizontal targets (top and bottom)
   */
  --gx-layout-horizontal-target-height: auto;
  /**
   * @prop --gx-layout-mask-background-color: Mask background color
   */
  --gx-layout-mask-background-color: #575965;
  /**
   * @prop --gx-layout-mask-opacity: Mask opacity
   */
  --gx-layout-mask-opacity: 0.5;
  /**
   * @prop --gx-layout-target-transition-duration: Vertical target's transition duration
   */
  --gx-layout-target-transition-duration: 0.3s;
  /**
   * @prop --gx-layout-target-transition-timing-function: Vertical target's transition timing function
   */
  --gx-layout-target-transition-timing-function: ease-in-out;

  /**
   * @prop --gx-layout-vertical-targets-breakpoint: Vertical targets breakpoint
  */
  --gx-layout-vertical-targets-breakpoint: #{$gx-layout-vertical-targets-breakpoint};

  display: grid;
  position: relative;
  flex: 1;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  z-index: $z-index-gx-layout;
  overflow: hidden;

  grid-template-columns:
    var(--gx-layout-vertical-target-width)
    1fr
    var(--gx-layout-vertical-target-width);
  grid-template-rows:
    var(--gx-layout-horizontal-target-height)
    1fr
    var(--gx-layout-horizontal-target-height);
  grid-column-gap: 0;
  grid-row-gap: 0;

  & > .target {
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    flex-direction: column;

    &[hidden] {
      display: none !important;
    }
  }

  & > .top {
    grid-area: 1 / 1 / 2 / 4;
    flex-direction: row;
  }

  & > .bottom {
    grid-area: 3 / 1 / 4 / 4;
    flex-direction: row;
  }

  & > .left {
    grid-area: 2 / 1 / 3 / 2;

    @media screen and (max-width: $gx-layout-vertical-targets-breakpoint) {
      transform: translateX(0);
      &[hidden] {
        transform: translateX(-100%);
      }
    }
  }

  & > .center {
    grid-area: 2 / 2 / 3 / 3;
    position: relative;

    & > .mask {
      display: none;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: var(--gx-layout-mask-background-color);
      opacity: var(--gx-layout-mask-opacity);
      z-index: $z-index-gx-layout-mask;

      @media screen and (max-width: $gx-layout-vertical-targets-breakpoint) {
        &--active {
          display: block;
        }
      }
    }
  }

  & > .right {
    grid-area: 2 / 3 / 3 / 4;

    @media screen and (max-width: $gx-layout-vertical-targets-breakpoint) {
      transform: translateX(-100%);
      &[hidden] {
        transform: translateX(0%);
      }
    }
  }

  & > .vertical {
    display: flex;
    min-width: 320px;

    @media screen and (max-width: $gx-layout-vertical-targets-breakpoint) {
      position: absolute;
      z-index: $z-index-gx-layout-vertical;
      bottom: 0;
      top: 0;
      transition-property: transform;
      transition-duration: var(--gx-layout-target-transition-duration);
      transition-timing-function: var(
        --gx-layout-target-transition-timing-function
      );

      &[hidden] {
        display: flex !important;
      }
    }
  }
}
