@import "../common/_base";

gx-grid-empty-indicator {
  @include visibility(flex);
  position: relative;
  flex: 1;
  height: 100%;

  > .empty-indicator-item {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
}
