@import "../common/common-styling-config";

:host {
  --gx-icon-size: #{$gx-icon-size};
  display: inline-flex;
  width: var(--gx-icon-size);
  height: var(--gx-icon-size);
  pointer-events: none;
}

svg {
  width: var(--gx-icon-size);
  height: var(--gx-icon-size);

  * {
    transition-property: fill, stroke;
    transition-duration: $transition-duration;
  }
}

.svg-icon-native {
  line-height: 0;
}
