@import "../common/alignment-with-shadow-dom";
@import "../common/_base";

gx-table-cell {
  @include text-align-with-shadow-DOM();
  @include valign-with-shadow-DOM();

  direction: var(--direction);
  overflow: auto;
  @include containerCell();

  flex-direction: row; // Do not change flex-direction. All alignments will break

  // Used when autoGrow = false in the gx-textblock and gx-edit controls to
  // ensure the content does not overflows
  &:not([auto-grow]) {
    & > gx-textblock::part(content),
    & > gx-form-field > .form-field-group .gx-edit-content {
      position: absolute;
    }
  }
  // TODO: Improve efficiency of the last selector

  &.gx-long-content-fade {
    position: relative;

    &::before,
    &::after {
      content: "";
      display: block;
      position: absolute;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      pointer-events: none;
      $color: 255, 255, 255;

      background: overflow-gradient($color);
    }

    &::before {
      top: 0;
      bottom: 0;
      right: 0;
      left: auto;
      width: 20%;
      height: auto;
    }

    &::after {
      top: 80%;
      left: 0;
      right: 0;
      bottom: 0;
      width: auto;
    }
  }
}
