$border-radius: 8px;

:host {
  /**
   * @prop --gx-action-sheet-shadow:Box shadow
   */
  --gx-action-sheet-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.14),
    0px 3px 3px -2px rgba(0, 0, 0, 0.12), 0px 1px 8px 0px rgba(0, 0, 0, 0.2);
  /**
   * @prop --gx-action-sheet-background-color: Background color
   */
  --gx-action-sheet-background-color: white;

  /**
   * @prop --gx-action-sheet-color: Text color
   */
  --gx-action-sheet-color: black;

  /**
   * @prop --gx-action-sheet-color-close: Close button text color
   */
  --gx-action-sheet-color-close: rgb(105, 110, 242);

  /**
   * @prop --gx-action-sheet-color-danger: Text color for items where `actionType="danger"`
   */
  --gx-action-sheet-color-danger: #f02031;

  /**
   * @prop --gx-action-sheet-color-disabled: Text color for disabled items
   */
  --gx-action-sheet-color-disabled: #c3c4c8;

  /**
   * @prop --gx-action-sheet-item-border-color: Color for the bottom border of items
   */
  --gx-action-sheet-item-border-color: rgb(224, 224, 224);

  display: block;
}

.body {
  display: flex;
  flex-direction: column;
  flex: 1;
  color: var(--gx-action-sheet-color);
  padding-inline: 20px;
}

.close-item {
  margin-top: 8px;
  text-transform: uppercase;
  color: var(--gx-action-sheet-color-close);
  padding: 13px 0;
}

.body,
.close-item {
  background-color: var(--gx-action-sheet-background-color);
  border-radius: $border-radius;
  box-shadow: var(--gx-action-sheet-shadow);
}

gx-modal::part(dialog) {
  width: min(768px, 66.7vw);
}
