@import "../common/_base";
@import "../common/common-styling-config";
@import "../common/layout-styling-config";

gx-modal {
  @include visibility(block);

  /**
   * @prop --gx-modal-header-color: Header text color
   */
  --gx-modal-header-color: black;
  /**
   * @prop --gx-modal-header-background-color: Header background color
   */
  --gx-modal-header-background-color: white;
  /**
   * @prop --gx-modal-primary-action-color: Primary action text color
   */
  --gx-modal-primary-action-color: white;
  /**
   * @prop --gx-modal-secondary-action-color: Secondary text color
   */
  --gx-modal-secondary-action-color: white;

  z-index: $z-index-gx-modal;

  & .modal-header {
    background-color: var(--gx-modal-header-background-color);
    color: var(--gx-modal-header-color);

    & .close {
      color: var(--gx-modal-header-color);
    }
  }

  .modal {
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity $transition-duration;

    // WA to enable pointer event if the gx-modal is used inside another
    // control that has "pointer-events: none", for example gx-image-picker
    pointer-events: all;
  }

  .modal-footer .btn-primary {
    color: var(--gx-modal-primary-action-color);
  }

  .modal-footer .btn-secondary {
    color: var(--gx-modal-secondary-action-color);
  }
}

// WA to change the z-index property of the bootstrap class
div.modal-backdrop {
  display: none;
}
