@import "../common/_common-styling-config";

@mixin button-default-states($vertical-padding: 4px, $horizontal-padding: 4px) {
  padding: $vertical-padding $horizontal-padding;
  transition: background-color $transition-delay, filter $transition-delay,
    color $transition-delay, border-color $transition-delay;

  &:focus {
    padding: $vertical-padding $horizontal-padding;
  }

  &:hover:not(:active) {
    @include hover-style();
  }

  &:active {
    background: var(--gx-navbar-main-active-background);

    /*  In case of using a traditional color, this property will allow us to
        still have the transition effect.
    */
    background-color: var(--gx-navbar-main-active-background);
    color: var(--gx-navbar-main-active-color);

    gx-icon {
      --gx-icon-color: var(--gx-navbar-main-active-color);
    }
  }
}

@mixin button-line-2-states() {
  &:hover {
    background-color: transparent;
    color: var(--gx-navbar-sub-hover-color);

    gx-icon {
      --gx-icon-color: var(--gx-navbar-sub-hover-color);
    }
  }

  &:active {
    background-color: var(--gx-navbar-sub-active-background-color);
    color: var(--gx-navbar-sub-active-color);

    gx-icon {
      --gx-icon-color: var(--gx-navbar-sub-active-color);
    }
  }
}
