@import "../common/_base";
@import "../common/common-styling-config";
@import "../common/layout-styling-config";

$gx-navbar-main-background-color: var(--primary-color, #212121);

$gx-navbar-active-background-color: #e0e0e0e0;

$gx-navbar-active-color: black;

@mixin button-default-active-color() {
  background-color: $gx-navbar-active-background-color;
  color: $gx-navbar-active-color;
}

:host([position="bottom"]) {
  bottom: 0;

  // If the width of the screen >= $gx-xsmall-breakpoint-plus-1, we hide
  // the bottom navbar
  @media screen and (min-width: $gx-xsmall-breakpoint-plus-1) {
    display: none;
  }

  // We display the links at the bottom navbar, when the width of the
  // screen is <= $gx-xsmall-breakpoint
  @media screen and (max-width: $gx-xsmall-breakpoint) {
    .gx-navbar-line {
      grid-template: "cell-links" 100% / 100%;
    }

    .gx-navbar-links {
      display: grid;
      grid-auto-flow: column;
      grid-auto-columns: minmax(max-content, 1fr);
      width: 100%;
    }
  }
}

// The layout of the top navbar adjusts based on the breakpoints and actions
// displayed
:host(:not([position="bottom"])) {
  @media screen and (min-width: $gx-xsmall-breakpoint-plus-1) {
    .gx-navbar-line {
      grid-template: "cell-left-side-container cell-links cell-actions cell-show-more-btn" 100% / 25% 50% 1fr max-content;
    }

    // We display the links at the top navbar, when the width of the screen
    // is >= $gx-xsmall-breakpoint-plus-1
    .gx-navbar-links {
      display: flex;
    }
  }

  @media screen and (max-width: $gx-xsmall-breakpoint) {
    .gx-navbar-0-action-types {
      grid-template: "cell-left-side-container" 100% / 100%;

      &-low-action {
        grid-template: "cell-left-side-container cell-show-more-btn" 100% / 1fr max-content;
      }
    }

    .gx-navbar-1-action-types {
      grid-template:
        "cell-left-side-container cell-actions" 100% / minmax(min-content, 2fr)
        minmax(10%, max-content);

      &-low-action {
        grid-template:
          "cell-left-side-container cell-actions cell-show-more-btn" 100% / minmax(
            min-content,
            2fr
          )
          minmax(10%, max-content) max-content;
      }
    }

    .gx-navbar-2-action-types {
      grid-template:
        "cell-left-side-container cell-actions" 100% / minmax(
          min-content,
          1.25fr
        )
        minmax(20%, max-content);

      &-low-action {
        grid-template:
          "cell-left-side-container cell-actions cell-show-more-btn" 100% / minmax(
            min-content,
            1.25fr
          )
          minmax(20%, max-content) max-content;
      }
    }
  }
}

@include visibility-shadow-DOM(block);

:host {
  @include elevation();

  // Unused properties?
  --gx-navbar-sub-color: black;
  --gx-navbar-sub-separator-top: none;
  --gx-navbar-sub-separator-bottom: 1px solid rgb(195, 196, 200);

  position: sticky;
  top: 0;
  background-color: $gx-navbar-main-background-color;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  width: 100%;
  z-index: $z-index-gx-navbar;

  // We do not add "color" property to de transition to avoid double duration
  // when the items inherit the color property
  transition-property: background-color, border-color, box-shadow, filter,
    opacity, transform;
  transition-duration: $transition-duration;

  // Default style for back, burger and show more buttons
  button {
    appearance: none;
    background: none;
    background-color: transparent;
    border-style: none;
    color: inherit;
    cursor: pointer;
    outline: none;
    padding: 4px;
    user-select: none;
    @include transition-properties();

    &:active {
      @include button-default-active-color();
    }
  }

  .gx-navbar {
    display: flex;
    flex-direction: column;

    &-caption {
      outline: none;
      margin-inline-start: 22px;
      transition: color $transition-duration;

      &,
      &:hover,
      &:active,
      &:focus {
        color: inherit;
        text-decoration: none;
      }
    }

    &-back-button {
      display: flex;
      align-items: center;
      border-radius: 50%;
      font: inherit;
      font-size: 11px;
      font-weight: 600;
      margin-inline-end: 2px;
    }

    // Burger button
    &-toggle-button {
      border-radius: 4px;
      line-height: 0;
      margin-inline-end: 2px;
    }

    &-line {
      display: grid;
      place-items: center;
      padding-inline: 16px;
    }

    &-line-1 {
      height: $gx-navbar-main-height;
      background-image: var(--gx-navbar-main-background-image);
    }

    &-line-2 {
      height: $gx-navbar-sub-height;
      color: var(--gx-navbar-sub-color);
      border-top: var(--gx-navbar-sub-separator-top);
      border-bottom: var(--gx-navbar-sub-separator-bottom);
      overflow: hidden;

      .gx-navbar-actions {
        flex: 1;
        justify-content: flex-end;
      }

      .gx-navbar-back-button {
        color: inherit;
      }
    }

    // Container for back button, toggle button and gx-navbar caption
    &-left-side-container {
      grid-area: cell-left-side-container;
      display: flex;
      align-items: center;
      width: 100%;
      max-height: 100%;
      overflow: hidden;
    }

    &-links {
      grid-area: cell-links;
      display: none;
      max-width: 100%;
      align-self: stretch;
      overflow-x: auto;
      scrollbar-width: none;

      &::-webkit-scrollbar {
        height: 0;
      }
    }

    // Style for each type of action (HIGH, NORMAL and LOW priority)
    &-actions {
      grid-area: cell-actions;
      display: flex;
      justify-content: flex-end;
      position: relative;
      width: 100%;
      align-self: stretch;
      overflow: hidden;

      &-high,
      &-normal {
        display: flex;
        align-items: center;
        overflow-x: auto;
        scrollbar-width: none;

        &::-webkit-scrollbar {
          height: 0;
        }
      }

      &--separator {
        align-self: center;
        background-color: currentColor;
        width: 2px;
        height: 60%;
        transition: color $transition-duration;
      }

      // Container of LOW actions
      &-low {
        display: flex;
        position: relative;
      }

      // A popup appears when show more button is clicked
      &-low-popup {
        @include button-default-active-color();
        display: none;
        flex-direction: column;
        position: absolute;
        top: calc(#{$gx-navbar-main-height} / 2 + 6px);
        right: 0;
        width: 160px;
        font-weight: 400;
        font-size: 12px;
        border-radius: 2px;
        padding: 5px 0;
        box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.14),
          0px 3px 3px -2px rgba(0, 0, 0, 0.12),
          0px 1px 8px 0px rgba(0, 0, 0, 0.2);
        z-index: $z-index-gx-navbar-item;

        &--active {
          display: flex;
        }
      }
    }

    // Show more button at the end of the gx-navbar
    &-actions-low-toggle {
      grid-area: cell-show-more-btn;
      display: inline-flex;
      place-content: center;
      place-items: center;
      border-radius: 50%;
      color: inherit;
      align-self: center;
      margin-inline-start: 2px;

      &--active {
        @include button-default-active-color();
      }
    }
  }
}
