$gx-group-caption: "-gx-group-caption";
$gx-highlighted: "-gx-highlighted";
$gx-highlighted-focus-within: "-gx-highlighted-focus-within";
$gx-hover: "-gx-hover";
$gx-label: "-gx-label";
$gx-label-container: "-gx-label-container";
$gx-label-highlighted: "-gx-label-highlighted";
$gx-label-position-left: "-gx-label-position-left";
$gx-label-position-right: "-gx-label-position-right";
$gx-selected-tab-caption: "-gx-selected-tab-caption";
$gx-unselected-tab-caption: "-gx-unselected-tab-caption";

$gx-vars: "-gx-vars";
