$gx-description: "--description";
$gx-even-row: "--even-row";
$gx-group-caption: "--group-caption";
$gx-highlighted: "--highlighted";
$gx-highlighted-dot: ".gx-highlighted";
$gx-horizontal-line: "--horizontal-line";
$gx-label: "--label";
$gx-label-container: "--label-container";
$gx-label-highlighted: "--label-highlighted";
$gx-label-width: "--label-width";
$gx-loading: "--loading";
$gx-loading-vars: "--loading--vars"; // In this case, we add the variable mapping, because it contains the lottie path
$gx-odd-row: "--odd-row";
$gx-selected-tab-caption: "--selected-tab-page";
$gx-title: "--title";
$gx-unselected-tab-caption: "--unselected-tab-page";

$gx-vars: "--vars";

$gx-no-action: "data-no-action";

$gx-disabled-class: ".gx-disabled";

/// Replace `$search` with `$replace` in `$string`
/// @param {String} $string - Initial string
/// @param {String} $search - Substring to replace
/// @param {String} $replace ('') - New value
/// @return {String} - Updated string
@function str-replace($string, $search, $replace: "") {
  $index: string.index($string, $search);

  @if $index {
    @return string.slice($string, 1, $index - 1) + $replace +
      str-replace(
        string.slice($string, $index + string.length($search)),
        $search,
        $replace
      );
  }

  @return $string;
}
