$gx-even-row: "-gx-even-row";
$gx-group-caption: "-gx-group-caption";
$gx-highlighted: "-gx-highlighted";
$gx-highlighted-dot: ".gx-highlighted";
$gx-highlighted-focus-within: "-gx-highlighted-focus-within";
$gx-hover: "-gx-hover";
$gx-horizontal-line: "-gx-horizontal-line";
$gx-label: "-gx-label";
$gx-label-container: "-gx-label-container";
$gx-label-highlighted: "-gx-label-highlighted";
$gx-label-position-left: "-gx-label-position-left";
$gx-label-position-right: "-gx-label-position-right";
$gx-odd-row: "-gx-odd-row";
$gx-selected-tab-caption: "-gx-selected-tab-caption";
$gx-unselected-tab-caption: "-gx-unselected-tab-caption";

$gx-vars: "-gx-vars";

/// Replace `$search` with `$replace` in `$string`
/// @param {String} $string - Initial string
/// @param {String} $search - Substring to replace
/// @param {String} $replace ('') - New value
/// @return {String} - Updated string
@function str-replace($string, $search, $replace: "") {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace +
      str-replace(
        str-slice($string, $index + str-length($search)),
        $search,
        $replace
      );
  }

  @return $string;
}
