@import "../common/_base";
@import "../common/_image-position";

gx-tab-caption {
  @include visibility(flex);

  @include imagePosition("a", ".gx-tab-caption--unselected");

  [slot="main-image"],
  [slot="disabled-image"] {
    max-height: 1em;
    max-width: 1em;
    object-fit: contain;
  }

  .nav-link {
    display: flex;
  }
}
