@import "../common/_base";
@import "../common/_common-styling-config";
@import "../common/_image-position";

@mixin imageMargin($position, $value) {
  &.gx-image-position--#{$position} {
    [slot="main-image"],
    [slot="disabled-image"] {
      @if ($position == "before" or $position == "after") {
        margin: 0 $value;
      }
      @if ($position == "above" or $position == "below") {
        margin: $value 0;
      }
    }
  }
}

gx-tab-caption {
  @include visibility(table-cell);

  @include imageMargin("before", var(--tab-caption-image-vertical-margin));
  @include imageMargin("after", var(--tab-caption-image-vertical-margin));
  @include imageMargin("above", var(--tab-caption-image-horizontal-margin));
  @include imageMargin("below", var(--tab-caption-image-horizontal-margin));

  // Used to decide the position of the image
  @include imagePosition(
    ".image-and-link-container a",
    ":not(.gx-tab-caption--active)"
  );

  // Used to limit the sizes of the images
  [slot="main-image"],
  [slot="disabled-image"] {
    max-height: 18px;
    max-width: 18px;
    object-fit: contain;
  }

  font-size: 12px;
  font-weight: 600;

  &.gx-tab-caption {
    height: 100%;
    transition: background-color $transition-duration,
      filter $transition-duration;

    .image-and-link-container {
      display: inline-block;
      vertical-align: top;
      width: 100%;
      height: 100%;

      .gx-nav-link {
        display: flex;
        height: 100%;
        color: inherit;
        padding-inline: var(--tab-caption-horizontal-padding);
        overflow: hidden;
        transition: background-color $transition-duration,
          color $transition-duration, border-color $transition-duration;
        white-space: nowrap;

        &:active,
        &:focus,
        &:hover,
        &:visited {
          color: none;
          text-decoration: none;
          outline: 0;
        }

        & > span {
          display: flex;
          align-items: center;
          height: 100%;
          max-width: 100%;
          min-height: 1em;
          padding-top: 0.125em;
        }
      }
    }

    &[aria-selected="false"]:hover:not(:active) {
      @include hover-style;
    }

    &--disabled {
      @include disabled-style;
      pointer-events: none;
    }
  }
}
