@import "../grid-base/grid-base.scss";
@import "../../../node_modules/swiper/swiper.scss";

.swiper-slide {
  @include visibility(flex);
  flex-basis: auto;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
