@import "../grid-base/grid-base.scss";
@import "../../../node_modules/swiper/css/swiper.min.css";

gx-grid-smart {
  & > [slot="grid-empty-loading-placeholder"] {
    height: 100%;
  }

  .swiper-slide {
    //Reset CSS required properties.
    flex-grow: 0;
    flex-basis: auto;
  }
}
