@import "../common/_base";
@import "../common/common-styling-config";

gx-checkbox {
  @include elevation();
  @include scss-custom-option-control(25%);

  display: flex;
  flex: 1;

  // Remove outline of the focus state. This selector must not have higher
  // specificity, since it should be overridden by the class applied to the control
  outline: unset;

  &.disabled {
    pointer-events: none;
  }

  @include transition-properties();
}
