////
/// @group theming-mixins
////

/// Helper mixin to ease styling gx-textblock custom elements
/// @param {map} $class Base class of the component
/// @param {map} $accept-drag-class Class to be used when the component shows that it accepts a drop operation
/// @param {map} $no-accept-drag-class Class to be used when the component shows that it doesn't accept a drop operation
/// @param {map} $start-dragging-class Class to be used when the component starts being dragged
/// @param {map} $drag-over-class Class to be used when the component is hovered by other control during a drag operation
@mixin gx-textblock(
  $class,
  $accept-drag-class: null,
  $no-accept-drag-class: null,
  $start-dragging-class: null,
  $drag-over-class: null
) {
  @include dragging-behavior(
    $accept-drag-class,
    $no-accept-drag-class,
    $start-dragging-class,
    $drag-over-class
  );
  .content,
  .label-content {
    @extend #{$class} !optional;
  }
}
