@import "../common/_base";
@import "../common/_common-styling-config";

@include box-sizing();
@include line-clamp();

:host {
  --elevation: 0;
  @include elevation();

  display: flex;
  align-self: stretch;
  align-items: flex-start;
  position: relative;
  width: 100%;
  text-align: start; // Default alignment which supports RTL

  // Remove outline of the focus state
  outline: none;

  @include transition-properties();
}

// - - - - - - - - - - - - - - - - - - - -
//      Format = "Text" and lineClamp
// - - - - - - - - - - - - - - - - - - - -
.content {
  @include reset-browser-defaults-properties-1();

  position: absolute;
  inset-inline: 0;
  padding-inline: inherit;
}

// - - - - - - - - - - - - - - - - - - - -
//             Format = "HTML"
// - - - - - - - - - - - - - - - - - - - -
.html-container {
  display: flex;
  align-items: flex-start;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.html-content {
  width: 100%;
}
