@import "../common/_base";
@import "../common/_common-styling-config";

@include line-clamp();
@include visibility-shadow-DOM(inline-flex);

:host(.disabled) {
  pointer-events: none;
}

:host {
  flex: 1;
  align-self: stretch;
  text-align: start; // Default alignment which supports RTL

  // Remove outline of the focus state
  outline: none;

  @include transition-properties();
}

.gx-textblock-container {
  display: flex;
  align-items: flex-start;
  flex: 1;
  position: relative;
  overflow: hidden;

  & > .gx-textblock-content {
    width: 100%;
  }
}
