@import "../common/_base";
@import "../common/_common-styling-config";

// Used to horizontally and vertically align the text
@mixin alignment($text-align: null, $align-items: null) {
  .content.text-content {
    @if ($text-align != null) {
      text-align: $text-align;
    }

    .readonly-content-container {
      @if ($align-items != null) {
        align-items: $align-items;
      }
    }
  }
}

// Used when autoGrow = false and format = HTML
gx-table-cell[min-height][max-height] {
  & > gx-textblock {
    & > .content.html-content {
      .html-container {
        .inner-content {
          position: absolute;
        }
      }
    }
  }
}

gx-textblock {
  // Default alignment which supports RTL
  @include alignment(start, flex-start);

  @include container-margins();
  @include visibility(inline-flex);
  flex: 1;
  align-self: stretch;

  &[disabled]:not([disabled="false"]) {
    pointer-events: none;
  }

  & > .content {
    --elevation: 0;
    @include elevation();
    display: flex;
    flex: 1;
    transition: background-color $transition-delay, color $transition-delay,
      border-color $transition-delay;

    & > .readonly-content-container {
      display: flex;
      flex: 1;
      position: relative;
      overflow: hidden;

      & > .text-container {
        position: absolute;
        width: 100%;

        // Used when autoGrow = true
        &.relative {
          position: relative;
        }
      }
    }

    // Used when format = HTML
    &.html-content {
      text-align: start;

      .html-container {
        display: flex;
        flex: 1;
        position: relative;
        height: 100%;
        overflow: hidden;

        .inner-content {
          position: relative;
          width: 100%;
        }
      }
    }
  }
}

// Alignments based on the direct parent control alignment
[align="center"] {
  & > gx-textblock {
    @include alignment(center);
  }
}

[align="right"] {
  & > gx-textblock {
    @include alignment(end);
  }
}

[valign="middle"] {
  & > gx-textblock {
    @include alignment($align-items: center);
  }
}

[valign="bottom"] {
  & > gx-textblock {
    @include alignment($align-items: flex-end);
  }
}
