@import "../common/_base";

gx-video {
  /**
    * @prop --gx-video-height:
    * Set the height or the control.
    * (500px by default)
    */
  --gx-video-height: 500px;

  display: flex;
  width: 100%;

  div.gxVideoContainer {
    height: var(--gx-video-height);
    display: flex;
    flex: 1;
    iframe {
      flex: 1;
      border: none;
    }
  }
}
