@import "../common/_base";

gx-video {
  /**
    * @prop --gx-video-height:
    * Set the height of the control from the video container or the control itself.
    * (100% by default)
    */
  --gx-video-height: 100%;

  @include visibility(flex);
  width: 100%;

  & > div {
    height: var(--gx-video-height);
    display: flex;
    flex: 1;
    iframe {
      flex: 1;
      border: none;
    }
  }
}
