@import "../common/css-transforms/scss-transforms";

////
/// @group theming-mixins
////

/// Helper mixin to ease styling gx-tab custom elements
/// @param {string} $tabs-position Determine the tab position (top or bottom).
/// @param {string} $selected-tab-caption Class for styling the selected tab caption
/// @param {string} $unselected-tab-caption Class for styling unselected tab caption
@mixin gx-tab(
  $tabs-position: null,
  $selected-tab-caption: null,
  $unselected-tab-caption: null
) {
  @if ($unselected-tab-caption != null) {
    &#{$gx-unselected-tab-caption} {
      @extend #{$unselected-tab-caption} !optional;
    }

    // Highlighted class
    &#{$gx-unselected-tab-caption}#{$gx-highlighted-dot} {
      @extend #{$unselected-tab-caption}#{$gx-highlighted} !optional;
    }
  }

  @if ($selected-tab-caption != null) {
    &#{$gx-selected-tab-caption} {
      @extend #{$selected-tab-caption} !optional;
    }

    // Highlighted class
    &#{$gx-selected-tab-caption}#{$gx-highlighted-dot} {
      @extend #{$selected-tab-caption}#{$gx-highlighted} !optional;
    }
  }
}
