////
/// @group theming-mixins
////

/// Helper mixin to ease styling gx-tab custom elements
/// @param {string} $class Base class of the component
/// @param {string} $highlighted Class to be used when the tab is active
/// @param {string} $selected-tab-caption Class for styling the selected tab caption
/// @param {string} $unselected-tab-caption Class for styling unselected tab caption
@mixin gx-tab(
  $class,
  $highlighted: null,
  $selected-tab-caption: null,
  $unselected-tab-caption: null
) {
  @extend #{$class} !optional;

  @if ($highlighted != null) {
    &.gx-highlighted {
      @extend #{$highlighted} !optional;
    }
  }

  @if ($unselected-tab-caption != null) {
    gx-tab-caption[aria-selected="false"] {
      @extend #{$unselected-tab-caption} !optional;
    }
  }

  @if ($selected-tab-caption != null) {
    gx-tab-caption[aria-selected="true"] {
      @extend #{$selected-tab-caption} !optional;
    }
  }
}
