@import "../common/_base";
@import "../common/_common-styling-config";

gx-tab {
  /**
   * @prop --elevation: The size of the shadow for the tab component
   */
  --elevation: 0;

  /**
   * @prop --tab-strip-elevation: The size of the shadow for the tab strip
   */
  --tab-strip-elevation: 0;

  /**
   * @prop --tab-strip-indicator-color: Background color of the indicator. Used when a tab caption is selected
   */
  --tab-strip-indicator-color: transparent;

  /**
   * @prop --tab-strip-separator-color: Color to underline the entire tab strip
   */
  --tab-strip-separator-color: #ffffff80;

  /**
   * @prop --tab-strip-background-color: Tab strip background color
   */
  --tab-strip-background-color: transparent;

  /**
   * @prop --tab-strip-height: Tab strip height
   */
  --tab-strip-height: auto;

  /**
   * @prop --tab-caption-vertical-padding: Tab caption vertical padding
   */
  --tab-caption-vertical-padding: calc(2px + 0.125em);

  /**
   * @prop --tab-caption-horizontal-padding: Tab caption horizontal padding
   */
  --tab-caption-horizontal-padding: 23px;

  /**
   * @prop --tab-caption-image-vertical-margin: Tab caption image vertical margin
   */
  --tab-caption-image-vertical-margin: 6px;

  /**
   * @prop --tab-caption-image-horizontal-margin: Tab caption image horizontal margin
   */
  --tab-caption-image-horizontal-margin: 2px;

  @include elevation();
  @include visibility(flex);
  flex: 1;
  width: 100%;
  overflow: hidden;
  transition: background-color $transition-delay, border-color $transition-delay,
    box-shadow $transition-delay;

  &[tabs-distribution="fixed-size"] {
    & > div {
      .gx-nav-tabs {
        .gx-nav-tabs-table {
          table-layout: fixed;
          width: 100%;
        }
      }
    }
  }

  & > div {
    display: grid;
    flex: 1;
    height: 100%;

    --tab-scrollbar-background-color: var(
      --gx-scrollbar-background-color,
      #f5f5f5
    );
    --tab-scrollbar-thumb-color: var(--gx-scrollbar-thumb-color, #555);

    .gx-nav-tabs {
      --elevation: var(--tab-strip-elevation);
      height: var(--tab-strip-height);
      overflow-x: hidden;
      overflow-y: overlay;
      white-space: nowrap;
      transition: box-shadow $transition-delay;

      &:hover {
        overflow-x: overlay;
      }

      scrollbar-width: thin;
      scrollbar-color: var(--tab-scrollbar-thumb-color)
        var(--tab-scrollbar-background-color);

      &::-webkit-scrollbar {
        width: 5px;
        height: 5px;
      }

      &::-webkit-scrollbar-track {
        background: var(--tab-scrollbar-background-color);
      }

      &::-webkit-scrollbar-thumb {
        background-color: var(--tab-scrollbar-thumb-color);
        border-radius: 6px;
        border: 1px solid var(--tab-scrollbar-background-color);
      }

      .gx-nav-tabs-table {
        display: table;
        height: 100%;

        &-filler {
          display: table-cell;
          width: 100%;
          background-color: var(--tab-strip-background-color);
          border-top: 1px solid transparent;
          border-bottom: 1px solid transparent;
          transition: background-color $transition-delay,
            border-color $transition-delay;
        }
      }
    }

    // Used to show the captions in the top position
    &[data-position="top"] {
      grid-template-rows: fit-content(50%) auto;

      .gx-nav-tabs {
        @include elevation();

        .gx-nav-tabs-table {
          &-filler {
            border-bottom-color: var(--tab-strip-separator-color);
          }
        }
      }
    }

    // Used to show the captions in the bottom position
    &[data-position="bottom"] {
      grid-template-rows: auto fit-content(50%);

      .gx-nav-tabs {
        @include elevation(top);
        order: 1;

        .gx-nav-tabs-table {
          &-filler {
            border-top-color: var(--tab-strip-separator-color);
          }
        }
      }
    }

    .gx-tab-content {
      display: flex;
      height: 100%;
      overflow: auto;
    }
  }
}
