@import "../common/_base";

gx-tab {
  @include visibility(flex);
  flex-direction: column;
  flex: 1;

  /**
   * @prop --elevation: The size of the shadow for the tab component
   */
  --elevation: 0;
  /**
   * @prop --tab-strip-elevation: The size of the shadow for the tab strip
   */
  --tab-strip-elevation: 0;
  /**
   * @prop --tab-caption-border-color: Tab captions border color
   */
  --tab-caption-border-color: #c3c4c8;
  /**
   * @prop --tab-caption-disabled-color: Disabled tab caption text color
   */
  --tab-caption-disabled-color: #c3c4c8;
  /**
   * @prop --tab-caption-active-border-color: Active tab caption border color
   */
  --tab-caption-active-border-color: #2d31b4;
  /**
   * @prop --tab-caption-fous-border-color: Focused tab caption border color
   */
  --tab-caption-focus-border-color: #2d31b4;
  /**
   * @prop --tab-caption-hover-border-color: Hovered tab caption border color
   */
  --tab-caption-hover-border-color: #5a5edc;
  /**
   * @prop --tab-caption-vertical-padding: Tab caption vertical padding
   */
  --tab-caption-vertical-padding: 8px;
  /**
   * @prop --tab-caption-horizontal-padding: Tab caption horizontal padding
   */
  --tab-caption-horizontal-padding: 23px;
  /**
   * @prop --tab-caption-image-vertical-margin: Tab caption image vertical margin
   */
  --tab-caption-image-vertical-margin: 6px;
  /**
   * @prop --tab-caption-image-horizontal-margin: Tab caption image horizontal margin
   */
  --tab-caption-image-horizontal-margin: 2px;
  /**
   * @prop --tab-strip-background-color: Tab strip background color
   */
  --tab-strip-background-color: transparent;
  /**
   * @prop --tab-strip-height: Tab strip height
   */
  --tab-strip-height: auto;

  & > div {
    @include elevation();
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow: hidden;

    --tab-scrollbar-background-color: var(
      --gx-scrollbar-background-color,
      #f5f5f5
    );
    --tab-scrollbar-thumb-color: var(--gx-scrollbar-thumb-color, #555);

    .gx-nav-tabs {
      --elevation: var(--tab-strip-elevation);
      @include elevation();
      background-color: var(--tab-strip-background-color);
      height: var(--tab-strip-height);

      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      overflow-y: auto;

      &-filler {
        flex: 1;
        border-bottom: 1px solid var(--tab-caption-border-color);
      }

      scrollbar-width: thin;
      scrollbar-color: var(--tab-scrollbar-thumb-color)
        var(--tab-scrollbar-background-color);

      &::-webkit-scrollbar {
        width: 4px;
        height: 4px;
      }

      &::-webkit-scrollbar-track {
        background: var(--tab-scrollbar-background-color);
      }

      &::-webkit-scrollbar-thumb {
        background-color: var(--tab-scrollbar-thumb-color);
        border-radius: 6px;
        border: 1px solid var(--tab-scrollbar-background-color);
      }
    }

    .gx-tab-content {
      display: flex;
      flex: 1;
    }
  }
}
