@import "../common/_base";
@import "../common/_common-styling-config";

@include visibility-shadow-DOM(grid);

:host {
  /**
   * @prop --elevation: The size of the shadow for the tab component
   */
  --elevation: 0;

  /**
   * @prop --tab-strip-elevation: The size of the shadow for the tab strip
   */
  --tab-strip-elevation: 0;

  /**
   * @prop --tab-strip-indicator-color: Background color of the indicator. Used when a tab caption is selected
   */
  --tab-strip-indicator-color: transparent;

  /**
   * @prop --tab-strip-separator-color: Color to underline the entire tab strip
   */
  --tab-strip-separator-color: #ffffff80;

  /**
   * @prop --tab-strip-background-color: Tab strip background color
   */
  --tab-strip-background-color: transparent;

  /**
   * @prop --tab-strip-height: Tab strip height
   */
  --tab-strip-height: auto;

  /**
   * @prop --gx-tab-caption-vertical-separation: Tab caption vertical separation between image and text
   */
  --gx-tab-caption-vertical-separation: 6px;

  /**
   * @prop --gx-tab-caption-horizontal-separation: Tab caption horizontal separation between image and text
   */
  --gx-tab-caption-horizontal-separation: 3px;

  /**
   * @prop --gx-tab-caption-overflow: The caption overflow for gx-tab-caption control
   */
  --gx-tab-caption-overflow: visible;

  --gx-tabs-position--order: 0;

  @include elevation();

  // Implement tabs position
  grid-template-rows: minmax(auto, max-content);

  flex: 1;
  width: 100%;
  overflow: hidden;
  @include transition-properties();

  --tab-scrollbar-background-color: var(
    --gx-scrollbar-background-color,
    #f5f5f5
  );
  --tab-scrollbar-thumb-color: var(--gx-scrollbar-thumb-color, #555);
}

.gx-nav-tabs {
  --elevation: var(--tab-strip-elevation);
  @include elevation();

  // Implement tabs position
  order: var(--gx-tabs-position--order);

  height: var(--tab-strip-height);
  overflow: hidden;
  white-space: nowrap;
  transition: box-shadow $transition-duration;

  &:hover {
    overflow-x: auto; // Fix for Mozilla, because it only accepts: visible, hidden, auto or scroll
    overflow-x: overlay;
  }

  // - - - - - - - - - - - - - - - -
  //     Scrollbar customization
  // - - - - - - - - - - - - - - - -
  scrollbar-width: thin;
  scrollbar-color: var(--tab-scrollbar-thumb-color)
    var(--tab-scrollbar-background-color);

  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  &::-webkit-scrollbar-track {
    background: var(--tab-scrollbar-background-color);
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--tab-scrollbar-thumb-color);
    border-radius: 6px;
    border: 1px solid var(--tab-scrollbar-background-color);
  }
}

.gx-tab-content {
  display: flex;
  height: 100%;
}

// - - - - - - - - - - - - - - - -
//            Tab strip
// - - - - - - - - - - - - - - - -
.gx-nav-tabs-table {
  display: table;
  height: 100%;
}

.gx-fixed-tabs {
  table-layout: fixed;
  width: 100%;
  --gx-tab-caption-overflow: hidden;
}

.gx-nav-tabs-table-filler {
  display: table-cell;
  width: 100%;
  background-color: var(--tab-strip-background-color);
  border-top: 1px solid transparent;
  border-bottom: 1px solid var(--tab-strip-separator-color);
  transition-property: background-color, box-shadow, filter, opacity;
  transition-duration: $transition-duration;
}
