@import "../common/common-styling-config";

:host {
  display: block;
  border-bottom: 1px solid var(--gx-action-sheet-item-border-color);
  padding: 10px 0;
  flex: 1;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

:host(.last-action) {
  border-bottom-width: 0;
}

:host(.danger) {
  color: var(--gx-action-sheet-color-danger);
}

:host(.disabled) {
  pointer-events: none;
  @include disabled-style();
}
