@import "../common/_base";

gx-action-sheet-item {
  @include visibility(block);

  border-bottom: 1px solid var(--gx-action-sheet-item-border-color);
  padding: 10px 0;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  &:last-child {
    border-bottom-width: 0;
  }

  &.gx-as-item {
    &--danger {
      color: var(--gx-action-sheet-color-danger);
    }

    &--disabled {
      color: var(--gx-action-sheet-color-disabled);
      cursor: default;
    }
  }
}
