@import "../common/_base";

gx-layout-editor {
  @include visibility(block);

  @include autoGrow();

  gx-layout-editor-placeholder[data-gx-le-active-target] {
    background-color: var(--gx-le-table-placeholder-color);
    & > * {
      display: none;
    }
  }

  [data-gx-le-container] {
    min-height: var(--gx-le-table-min-height);
    grid-column-gap: var(--gx-le-table-placeholder-width);

    &:hover {
      [data-gx-le-drop-area] {
        position: relative;
      }

      &:after {
        content: " ";
        display: block;
        position: absolute;
        top: 3px;
        left: 1px;
        z-index: 1;
        background-color: white;
        background-image: url(assets/icon-move.svg);
        background-repeat: no-repeat;
        background-size: contain;
        width: 18px;
        height: 18px;
      }
    }
  }

  & > gx-table:hover:after {
    display: none;
  }

  [data-gx-le-drop-area] {
    border: var(--gx-le-table-cell-border);

    &[data-gx-le-active-target="empty"] {
      background-color: var(--gx-le-table-placeholder-color);
    }

    &[data-gx-le-active-target="left"] {
      .gu-transit {
        left: 0;
      }
    }

    &[data-gx-le-active-target="right"] {
      .gu-transit {
        right: 0;
      }
    }

    &[data-gx-le-active-target="top"] {
      .gu-transit {
        top: 0;
      }
    }

    &[data-gx-le-active-target="bottom"] {
      .gu-transit {
        bottom: 0;
      }
    }

    // &[data-gx-le-active-target]:not([data-gx-le-active-target="empty"]) {
    //   position: relative;
    //
    //   .gu-transit {
    //     width: 0px;
    //     overflow: hidden;
    //     position: absolute;
    //     top: 0;
    //     height: 100%;
    //     z-index: 1;
    //     padding-left: var(--gx-le-table-placeholder-width);
    //
    //     &:before {
    //       background-color: #234783;
    //       width: var(--gx-le-table-placeholder-width);
    //       height: 100%;
    //       content: " ";
    //       position: absolute;
    //       top: 0;
    //       left: 0;
    //       z-index: 1;
    //     }
    //   }
    // }
    //
    &[data-gx-le-active-target][data-gx-le-active-target="left"],
    &[data-gx-le-active-target][data-gx-le-active-target="right"] {
      position: relative;

      .gu-transit {
        width: 0px;
        overflow: hidden;
        position: absolute;
        height: 100%;
        z-index: 1;
        padding-left: var(--gx-le-table-placeholder-width);

        &:before {
          background-color: #234783;
          width: var(--gx-le-table-placeholder-width);
          height: 100%;
          content: " ";
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1;
        }
      }
    }

    &[data-gx-le-active-target][data-gx-le-active-target="top"],
    &[data-gx-le-active-target][data-gx-le-active-target="bottom"] {
      position: relative;

      .gu-transit {
        width: 100%;
        overflow: hidden;
        position: absolute;
        left: 0;
        height: 0;
        z-index: 1;
        padding-top: var(--gx-le-table-placeholder-width);

        &:before {
          background-color: #234783;
          width: 100%;
          height: var(--gx-le-table-placeholder-width);
          content: " ";
          position: absolute;
          bottom: 0;
          left: 0;
          z-index: 1;
        }
      }
    }

    & > :not([data-gx-le-container]),
    & > :not([data-gx-le-container]) > *,
    & > [data-gx-le-container]:after {
      cursor: move !important;
    }
  }

  &[data-gx-le-selected="true"],
  [data-gx-le-drop-area][data-gx-le-selected="true"] {
    box-shadow: 0px 0px 0px var(--gx-le-table-selected-cell-border-width)
      var(--gx-le-table-selected-cell-border-color) !important;
  }
}

.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}

.gu-hide {
  display: none !important;
}

.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
