@import "../common/_base";

@mixin containers-gap() {
  gx-table {
    grid-column-gap: var(--gx-le-table-cell-gap);
  }

  [data-gx-le-flex-table-direction="column"],
  [data-gx-le-flex-table-direction="reverse-column"] {
    & > [data-gx-flex-cell] {
      margin-top: var(--gx-le-table-cell-gap);
    }
    & > [data-gx-flex-cell]:first-child {
      margin-top: 0;
    }
  }

  [data-gx-le-flex-table-direction="row"],
  [data-gx-le-flex-table-direction="reverse-row"] {
    & > [data-gx-flex-cell] {
      margin-left: var(--gx-le-table-cell-gap);
    }
    & > [data-gx-flex-cell]:first-child {
      margin-left: 0;
    }
  }
}

@mixin empty-outermost-container {
  & > div > [data-gx-le-container-empty="true"] {
    min-height: 100vh;
    border: var(--gx-le-table-cell-border);
  }
}

@mixin containers-defaults {
  [data-gx-le-container] {
    min-height: var(--gx-le-table-min-height);

    &[data-gx-le-container-empty="true"] {
      grid-template-rows: 1fr !important;
      border: var(--gx-le-table-cell-border);
    }

    &:hover {
      [data-gx-le-drop-area] {
        position: relative;
      }

      &:after {
        content: " ";
        display: block;
        position: absolute;
        top: 3px;
        left: 1px;
        z-index: 1;
        background-image: var(--gx-le-table-anchor-icon);
        background-repeat: no-repeat;
        background-size: contain;
        width: var(--gx-le-table-anchor-icon-size);
        height: var(--gx-le-table-anchor-icon-size);
      }
    }
  }

  & > [data-gx-le-container]:hover:after {
    display: none;
  }
}

@mixin drop-area {
  [data-gx-le-drop-area] {
    border: var(--gx-le-table-cell-border);
    min-height: var(--gx-le-table-cell-min-height);

    &[data-gx-le-active-target="empty"] {
      background-color: var(--gx-le-table-placeholder-color);
    }

    &[data-gx-le-active-target="left"] {
      [data-gx-le-transit-element] {
        left: calc(
          var(--gx-le-table-placeholder-width) * -0.5 -
            var(--gx-le-table-cell-gap) - 1px
        );
      }
    }

    &[data-gx-le-active-target="right"] {
      [data-gx-le-transit-element] {
        right: calc(
          var(--gx-le-table-placeholder-width) * -0.5 -
            var(--gx-le-table-cell-gap)
        );
      }
    }

    &[data-gx-le-active-target="top"] {
      [data-gx-le-transit-element] {
        top: calc(
          var(--gx-le-table-placeholder-height) * -0.5 -
            var(--gx-le-table-cell-gap)
        );
      }
    }

    &[data-gx-le-active-target="bottom"] {
      [data-gx-le-transit-element] {
        bottom: calc(
          var(--gx-le-table-placeholder-height) * -0.5 -
            var(--gx-le-table-cell-gap) - 1px
        );
      }
    }

    &[data-gx-le-active-target="empty"] {
      [data-gx-le-transit-element] {
        visibility: hidden;
      }
    }

    &[data-gx-le-active-target]:not([data-gx-le-active-target="empty"]) {
      position: relative;

      [data-gx-le-transit-element] {
        overflow: hidden;
        position: absolute;
        z-index: 1;
        visibility: visible;

        &:before {
          background-color: var(--gx-le-table-placeholder-color);
          content: " ";
          position: absolute;
          z-index: 1;
        }
      }
    }

    &[data-gx-le-active-target][data-gx-le-active-target="left"],
    &[data-gx-le-active-target][data-gx-le-active-target="right"] {
      [data-gx-le-transit-element] {
        width: 0px;
        height: 100%;
        padding-left: var(--gx-le-table-placeholder-width);

        &:before {
          width: var(--gx-le-table-placeholder-width);
          height: 100%;
          top: 0;
          left: 0;
        }
      }
    }

    &[data-gx-le-active-target][data-gx-le-active-target="top"],
    &[data-gx-le-active-target][data-gx-le-active-target="bottom"] {
      [data-gx-le-transit-element] {
        width: 100%;
        left: 0;
        height: 0;
        padding-top: var(--gx-le-table-placeholder-width);

        &:before {
          width: 100%;
          height: var(--gx-le-table-placeholder-width);
          bottom: 0;
          left: 0;
        }
      }
    }

    & > :not([data-gx-le-container]),
    & > :not([data-gx-le-container]) > *,
    & > [data-gx-le-container]:after {
      cursor: move !important;
    }

    &:hover {
      box-shadow: 0px 0px 0px var(--gx-le-table-hovered-cell-border-width)
        var(--gx-le-table-hovered-cell-border-color) !important;
      position: relative;

      &:before {
        position: absolute;
        bottom: 0;
        left: 0;
        content: var(--gx-le-control-type-name);
        z-index: 1;
        color: var(--gx-le-control-type-name-color);
        text-shadow: initial;
        background-color: var(--gx-le-table-hovered-cell-border-color);
        font: var(--gx-le-control-type-name-font);
        padding: 0.3rem;
      }
    }

    &:focus {
      outline: 0;
    }
  }
}

@mixin selection-highlighting {
  &[data-gx-le-selected="true"],
  [data-gx-le-drop-area][data-gx-le-selected="true"] {
    box-shadow: 0px 0px 0px var(--gx-le-table-selected-cell-border-width)
      var(--gx-le-table-selected-cell-border-color);
  }
}

%box-sizing-props {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin box-sizing {
  @extend %box-sizing-props;

  [data-gx-le-placeholder],
  [data-gx-le-drop-area] {
    @extend %box-sizing-props;

    &::after,
    &::before {
      @extend %box-sizing-props;
    }
  }
}

@mixin ghost {
  .ghost {
    max-width: 100px;
  }
}

gx-layout-editor {
  @include visibility(block);

  position: relative;

  gx-layout-editor-placeholder[data-gx-le-active-target] {
    background-color: var(--gx-le-table-placeholder-color);
    & > * {
      display: none;
    }
  }

  @include box-sizing();

  @include containers-gap();

  @include empty-outermost-container();

  @include containers-defaults();

  @include drop-area();

  @include selection-highlighting();

  @include ghost();
}
