/// Helper mixin to ease text alignment of shadow DOM components
@mixin text-align-with-shadow-DOM() {
  &[align="left"] {
    > gx-textblock,
    ch-textblock {
      justify-content: flex-start;
      text-align: start;
    }
  }

  &[align="center"] {
    > gx-textblock,
    ch-textblock {
      justify-content: center;
      text-align: center;
    }
  }

  &[align="right"] {
    > gx-textblock,
    ch-textblock {
      justify-content: flex-end;
      text-align: end;
    }
  }
}

/// Helper mixin to ease vertical alignment of shadow DOM components
@mixin valign-with-shadow-DOM() {
  &[valign="top"] {
    > gx-textblock,
    > ::part(gx-valign),
    > gx-form-field > ::part(gx-valign) {
      align-items: flex-start;
    }

    > ch-textblock {
      align-content: flex-start;
    }
  }

  &[valign="middle"] {
    > gx-textblock,
    > ::part(gx-valign),
    > gx-form-field > ::part(gx-valign) {
      align-items: center;
    }

    > ch-textblock {
      align-content: center;
    }
  }

  &[valign="bottom"] {
    > gx-textblock,
    > ::part(gx-valign),
    > gx-form-field > ::part(gx-valign) {
      align-items: flex-end;
    }

    > ch-textblock {
      align-content: flex-end;
    }
  }
}
