/// Helper mixin to ease text alignment of shadow DOM components
@mixin text-align-with-shadow-DOM() {
  &[align="left"] {
    > gx-textblock {
      justify-content: flex-start;
      text-align: start;
    }
  }

  &[align="center"] {
    > gx-textblock {
      justify-content: center;
      text-align: center;
    }
  }

  &[align="right"] {
    > gx-textblock {
      justify-content: flex-end;
      text-align: end;
    }
  }
}

/// Helper mixin to ease vertical alignment of shadow DOM components
@mixin valign-with-shadow-DOM() {
  &[valign="top"] {
    > gx-textblock,
    ::part(gx-valign) {
      align-items: flex-start;
    }
  }

  &[valign="middle"] {
    > gx-textblock,
    ::part(gx-valign) {
      align-items: center;
    }
  }

  &[valign="bottom"] {
    > gx-textblock,
    ::part(gx-valign) {
      align-items: flex-end;
    }
  }
}
