$gx-xsmall-breakpoint: 768px;

@mixin visibility($display) {
  display: $display;

  &[hidden] {
    display: none !important;

    &[invisible-mode="keep-space"] {
      display: $display !important;
      visibility: hidden;
    }
  }
}

@mixin overflowMode() {
  &[overflow-mode="clip"] {
    overflow: hidden;
  }
  &[overflow-mode="scroll"] {
    overflow: auto;
  }
}

@mixin containerCell() {
  @include visibility(flex);

  @include overflowMode();

  &:not([align]),
  &[align="left"] {
    & > * {
      flex: 1;
    }
  }

  &[align="center"] {
    justify-content: center;
  }

  &[align="right"] {
    justify-content: flex-end;
  }

  &[valign="middle"] {
    align-items: center;
  }

  &[valign="bottom"] {
    align-items: flex-end;
  }
}

@mixin elevation() {
  box-shadow: 0 calc(var(--elevation) * 0.125rem)
    calc(var(--elevation) * 0.25rem)
    rgba(0, 0, 0, calc(var(--elevation) * 0.075));
}

@function overflow-gradient($color, $stop: 90%, $direction: to right) {
  @return linear-gradient(
    $direction,
    #{"rgba("} $color #{", 0 )"},
    #{"rgba("} $color #{", 1 )"} $stop
  );
}
