$gx-xsmall-breakpoint: 768px;

@mixin visibility($display) {
  display: $display;

  &[hidden] {
    display: none !important;

    &[invisible-mode="keep-space"] {
      display: $display !important;
      visibility: hidden;
    }
  }
}

@mixin overflowMode() {
  &[overflow-mode="clip"] {
    overflow: hidden;
  }
  &[overflow-mode="scroll"] {
    overflow: auto;
  }
}

@mixin containerCell() {
  @include visibility(flex);

  @include overflowMode();

  &:not([align]),
  &[align="left"] {
    & > * {
      flex: 1;
    }
  }

  &[align="center"] {
    justify-content: center;
  }

  &[align="right"] {
    justify-content: flex-end;
  }

  &[valign="middle"] {
    align-items: center;
  }

  &[valign="bottom"] {
    align-items: flex-end;
  }
}

@mixin elevation() {
  box-shadow: 0 calc(var(--elevation) * 0.125rem)
    calc(var(--elevation) * 0.25rem)
    rgba(0, 0, 0, calc(var(--elevation) * 0.075));
}

@function overflow-gradient($color, $stop: 90%, $direction: to right) {
  @return linear-gradient(
    $direction,
    #{"rgba("} $color #{", 0 )"},
    #{"rgba("} $color #{", 1 )"} $stop
  );
}

.gx-line-clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--max-lines);
  overflow: hidden;
  max-height: var(--max-height);
}

.line-measuring {
  visibility: hidden;
  position: absolute;
}

@mixin scss-custom-option-control() {
  $transitionConfig: 0.15s ease-in-out;

  --option-active-color: #007bff;

  --option-active-background-color: #ffffff;

  --option-highlight-border-color: rgba(0, 123, 255, 0.25);

  --option-border: 1px solid #adb5bd;

  --option-border-radius: 100%;

  .container {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .option-container {
      display: flex;
      padding: 0 0.35rem 0 0.35rem;

      .control-input {
        width: 1rem;
        height: 1rem;
        opacity: 0;

        &:checked {
          & ~ .custom-option {
            border-color: var(--option-active-color);
            background-color: var(--option-active-color);
            transition: $transitionConfig;
            box-shadow: 0 0 0 0.15rem var(--option-highlight-border-color);
          }

          & ~ svg {
            opacity: 100;
            transition: $transitionConfig;
          }
        }
      }

      .custom-option {
        position: absolute;
        width: 1rem;
        height: 1rem;
        pointer-events: none;
        border: var(--option-border);
        border-radius: var(--option-border-radius);
        content: "";
      }

      svg {
        position: absolute;
        width: 1rem;
        height: 1rem;
        pointer-events: none;
        z-index: 1;
        opacity: 0;
        fill: var(--option-active-background-color);
      }
    }

    .custom-label {
      margin: 0;
    }
  }
}
