@mixin visibility($display) {
  display: $display;

  &[hidden] {
    display: none;

    &[invisible-mode="keep-space"] {
      display: $display;
      visibility: hidden;
    }
  }
}

@mixin overflowMode() {
  &[overflow-mode="clip"] {
    overflow: hidden;
  }
  &[overflow-mode="scroll"] {
    overflow: auto;
  }
}

@mixin containerCell() {
  @include visibility(flex);

  @include overflowMode();

  &:not([align]),
  &[align="left"] {
    & > * {
      flex: 1;
    }
  }

  &[align="center"] {
    align-items: center;
  }

  &[align="right"] {
    align-items: flex-end;
  }

  &[valign="middle"] {
    justify-content: center;
  }

  &[valign="bottom"] {
    justify-content: flex-end;
  }
}

@mixin elevation() {
  box-shadow: 0 calc(var(--elevation) * 0.125rem)
    calc(var(--elevation) * 0.25rem)
    rgba(0, 0, 0, calc(var(--elevation) * 0.075));
}
