@import "../common/_base";

gx-table {
  --elevation: 0;

  @include reset-variables();
  @include container-margins();
  @include elevation();
  @include visibility(grid);

  flex: 1;

  /*  gx-table must hide its content overflow to ensure that the border-radius
      property is apply
  */
  overflow: hidden;
}
