@import "../common/base";
@import "../common/layout-styling-config";
@import "../grid-base/grid-base.scss";
@import "../../../node_modules/swiper/swiper.min.css";

gx-grid-horizontal {
  /**
   * @prop --gx-overflow-style: Determine if the overflow will be hidden or visible.
   * By default, the gx-grid-horizontal hide its content overflow.
   */
  --gx-overflow-style: #{$default-overflow-style};

  // With "display: grid" we ensure that the layout doesn't break when using
  // relative size columns in the parent gx-table
  @include visibility(grid);
  grid-template-rows: 1fr min-content 0;

  // Show the loading on grid load
  &.gx-grid-initial-load {
    grid-template-rows: 0 1fr;
  }

  & > .gx-grid-horizontal-content {
    display: flex;
    position: relative;
    width: 100%;
  }

  // When the horizontal grid does not have auto grow, its content must not
  // stretch the grid height
  & > .gx-grid-horizontal--no-auto-grow > .swiper-wrapper {
    position: absolute;
    inset: 0;
  }

  & > [slot="grid-empty-loading-placeholder"] {
    height: 100%;
  }

  // grid cell
  .swiper-slide {
    //Reset CSS required properties.
    flex-grow: 0;
    flex-basis: auto;
  }
}

// When the grid-smart-cells have the rows-landscape or the rows-portrait
// attribute, it means that they are inside the gx-grid-horizontal
.gx-grid-row.swiper-slide {
  height: calc(100% / var(--rows));
}
