@import "../common/_base";
@import "../common/css-transforms/scss-transforms";
@import "../common/_common-styling-config";

@include visibility-shadow-DOM(inline-flex);

$gx-navbar-active-background-color: #888;
$gx-navbar-active-color: black;

// Default :hover style
:host(:hover:not(:active)) {
  @include hover-style();
}

// Default :active color
:host(:active) {
  color: $gx-navbar-active-color;
}

:host {
  --gx-navbar-item-icon-size-big: 24px;
  --gx-navbar-item-icon-size-small: 18px;

  align-self: stretch;
  cursor: pointer;
  outline: none;
  @include transition-properties();

  @media screen and (max-width: $gx-xsmall-breakpoint) {
    flex: 1;
    justify-content: center;
  }

  button {
    appearance: none;
    border: 0;
    background-color: transparent;
    color: inherit;
    font: inherit;
  }

  .navbar-item {
    display: inline-flex;
    align-items: center;
    flex: 1;
    color: inherit;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    text-decoration: none;

    &--active {
      background-color: $gx-navbar-active-background-color;
      color: $gx-navbar-active-color;
    }

    &-icon {
      display: inline-block;
      height: var(--gx-navbar-item-icon-size-small);
      width: var(--gx-navbar-item-icon-size-small);
      object-fit: contain;
      margin-right: 12px;
    }

    @media screen and (max-width: $gx-xsmall-breakpoint) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;

      &-icon {
        margin-bottom: 5px;
        margin-right: 0;
      }
    }
  }
}

:host([slot="low-priority-action"]) {
  .navbar-item {
    justify-content: start;
    align-items: start;
    padding: 8px 16px;
    margin: 0;
  }
}

:host(:empty) {
  .navbar-item {
    &-with-icon {
      padding: 4px;
    }

    &-icon {
      margin: 0 4px;
      height: var(--gx-navbar-item-icon-size-big);
      width: var(--gx-navbar-item-icon-size-big);
    }
  }
}
