@import "../common/_base";
@import "../common/_common-styling-config.scss";
@import "../common/layout-styling-config";

@include visibility-shadow-DOM(grid);

*,
::before,
::after {
  box-sizing: border-box;
}

:host {
  --color: "transparent";
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

:host(.hide-keep) {
  opacity: 0;
}

:host(.hide-collapse) {
  display: none;
}
