@import "../common/_base";
@import "../../../node_modules/leaflet/dist/leaflet.css";
@import "../../../node_modules/leaflet-draw/dist/leaflet.draw-src.css";
@import "./map-marker-cluster";

//TODO: Decide what to do with the leaflet-draw plugin
/* @import "../../../node_modules/leaflet-draw/dist/leaflet.draw-src.css"; */

gx-map {
  /**
   * @prop --gx-fill-color:
   * The fill color to use for the path.
   * (white by default)
   */
  --gx-fill-color: white;

  /**
   * @prop --gx-stroke-color:
   * The stroke color to use for the path.
   * (currentColor by default)
   */
  --gx-stroke-color: currentColor;

  /**
   * @prop --gx-stroke-width:
   * Yhe stroke width to use for the path.
   * (2.5 by default)
   */
  --gx-stroke-width: 2.5;

  display: flex;
  height: 100%;

  & > .gxMap {
    display: flex;
    width: 100%;
    height: 100%;
  }
}
