@import "../common/_base";
@import "../../../node_modules/leaflet/dist/leaflet.css";

$mapHeight: 568px;

@mixin size($width, $height) {
  height: $height;
  width: $width;
}

gx-map {
  @include visibility(block);

  .gxMapContainer {
    @include size(100%, $mapHeight);
    .gxMap {
      @include size(100%, 100%);
    }
  }
}
