@import "../common/_base";

gx-image {
  --elevation: 0;

  @include visibility(inline-flex);

  justify-content: stretch;
  align-items: stretch;
  flex: 1;

  &.gx-img-no-auto-grow {
    width: var(--width);
    height: var(--height);

    position: relative;

    & > img {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }

  &:not(.gx-img-no-auto-grow) {
    & > img {
      width: var(--width);
      height: var(--height);

      max-height: calc(
        100% - var(--margin-top, 0px) - var(--margin-bottom, 0px)
      );
      max-width: calc(
        100% - var(--margin-right, 0px) - var(--margin-left, 0px)
      );
      flex: 1;
    }
  }

  &.gx-img-lazyloading {
    overflow: hidden;
  }

  & > img {
    @include elevation();
    margin-top: var(--margin-top);
    margin-right: var(--margin-right);
    margin-bottom: var(--margin-bottom);
    margin-left: var(--margin-left);
    object-fit: var(--image-scale-type, contain);
  }

  .gx-image-tile {
    width: 100% !important;
    height: 100% !important;
    padding-left: 100% !important;
    box-sizing: border-box !important;
    display: inline-block !important;
    background-position: 0 !important;
    background-repeat: repeat;
  }

  .gx-lazyload:not([src]) {
    visibility: hidden;
  }

  .gx-lazyloading {
    display: none;
  }

  .gx-lazyloading + span,
  .gx-lazyloading + span:after {
    border-radius: 50%;
    width: 2em;
    height: 2em;
    display: var(--image-loading-indicator, inline-block);
  }

  .gx-lazyloading + span {
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border-top: 0.3em solid rgba(0, 0, 0, 0.2);
    border-right: 0.3em solid rgba(0, 0, 0, 0.2);
    border-bottom: 0.3em solid rgba(0, 0, 0, 0.2);
    border-left: 0.3em solid #aaa;
    transform: translateZ(0);
    animation: gx-image-loading 1.1s infinite linear;
  }

  .gx-lazyloaded + span {
    display: none;
  }
}

[align="center"] {
  & > gx-image {
    justify-self: stretch;
    justify-content: center;
  }
}

[align="right"] {
  & > gx-image {
    justify-self: stretch;
    justify-content: flex-end;
  }
}

[valign="middle"] {
  & > gx-image {
    align-self: stretch;
    align-items: center;
  }
}

[valign="bottom"] {
  & > gx-image {
    align-self: stretch;
    align-items: flex-end;
  }
}

@keyframes gx-image-loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
