@import "../common/_base";

gx-image {
  --elevation: 0;

  @include reset-variables();
  @include visibility(inline-flex);

  flex: 1;

  & > img {
    @include elevation();
    object-fit: var(--image-scale-type, contain);
  }

  > .gx-image-tile {
    display: inline-block !important;
    padding-left: 100% !important;
    box-sizing: border-box !important;
    background-position: 0 !important;
    background-repeat: repeat;
  }

  .gx-lazyload:not([src]) {
    visibility: hidden;
  }

  .gx-lazyloading {
    display: none;
  }

  .gx-lazyloading + span,
  .gx-lazyloading + span:after {
    border-radius: 50%;
    width: 2em;
    height: 2em;
    display: var(--image-loading-indicator, inline-block);
  }

  .gx-lazyloading + span {
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border-top: 0.3em solid rgba(0, 0, 0, 0.2);
    border-right: 0.3em solid rgba(0, 0, 0, 0.2);
    border-bottom: 0.3em solid rgba(0, 0, 0, 0.2);
    border-left: 0.3em solid #aaa;
    transform: translateZ(0);
    animation: gx-image-loading 1.1s infinite linear;
  }

  .gx-lazyloaded + span {
    display: none;
  }
}

[align="center"] {
  & > gx-image {
    justify-self: stretch;
    justify-content: center;
  }
}

[align="right"] {
  & > gx-image {
    justify-self: stretch;
    justify-content: flex-end;
  }
}

[valign="middle"] {
  & > gx-image {
    align-self: stretch;
    align-items: center;
  }
}

[valign="bottom"] {
  & > gx-image {
    align-self: stretch;
    align-items: flex-end;
  }
}

@mixin cellAlignmentNoAutoGrow($halign, $valign) {
  $valignValue: if($valign == middle, center, $valign);
  [align="#{$halign}"][valign="#{$valign}"] {
    & > gx-image {
      &.gx-img-no-auto-grow {
        img {
          object-position: $halign $valignValue;
        }
      }
    }
  }
}

@include cellAlignmentNoAutoGrow(left, top);
@include cellAlignmentNoAutoGrow(left, middle);
@include cellAlignmentNoAutoGrow(left, bottom);
@include cellAlignmentNoAutoGrow(center, top);
@include cellAlignmentNoAutoGrow(center, middle);
@include cellAlignmentNoAutoGrow(center, bottom);
@include cellAlignmentNoAutoGrow(right, top);
@include cellAlignmentNoAutoGrow(right, middle);
@include cellAlignmentNoAutoGrow(right, bottom);

@keyframes gx-image-loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
