@import "../common/_base";

gx-gauge {
  /**
  * @prop --center-circle-text-color:
   * Define the color of the center text in `circle` gauge type.
   * (rgba(44, 44, 44, 1) by default)
  */
  --center-circle-text-color: rgba(44, 44, 44, 1);

  /**
  * @prop --center-circle-background-color:
   * Define the color of the center background text in `circle` gauge type.
   * (rgba(255, 255, 255, 0) by default)
  */
  --center-circle-background-color: rgba(255, 255, 255, 0);

  /**
  * @prop --indicator-circle-background-color:
   * Define the color of the background value indicator in `circle` gauge type.
   * (rgba(44, 44, 44, 1) by default)
  */
  --indicator-circle-background-color: rgba(44, 44, 44, 1);

  /**
  * @prop --value-text-color:
   * Define the color of the value text in `line` gauge type.
   * (rgba(44, 44, 44, 1) by default)
  */
  --value-text-color: rgba(44, 44, 44, 1);

  /**
  * @prop --value-text-background-color:
   * Define the background-color of the value text in `line` gauge type.
   * (rgba(255, 255, 255, 0.800) by default)
  */
  --value-text-background-color: rgba(255, 255, 255, 0.8);

  /**
  * @prop --max-value-background-color:
   * Set the color of maximum value display background in `line` gauge type.
   * (rgba(255, 255, 255, 0.800) by default)
  */
  --max-value-background-color: rgba(255, 255, 255, 0.8);

  /**
  * @prop --max-value-text-color:
   * Set the color of maximum value display text in `line` gauge type.
   * (rgba(40, 40, 40, 0.8) by default)
  */
  --max-value-text-color: rgba(40, 40, 40, 0.8);

  /**
  * @prop --min-value-background-color:
   * Set the color of minimum value display background in `line` gauge type.
   * (rgba(255, 255, 255, 0.8000) by default)
  */
  --min-value-background-color: rgba(255, 255, 255, 0.8);

  /**
  * @prop --min-value-text-color:
   * Set the color of minimum value display text in `line` gauge type.
   * (rgba(40, 40, 40, 0.8) by default)
  */
  --min-value-text-color: rgba(40, 40, 40, 0.8);

  /**
  * @prop --indicator-line-background-color:
   * Set the color of background value indicator in `line` gauge type.
   * (rgba(44, 44, 44, 1) by default)
  */
  --indicator-line-background-color: rgba(44, 44, 44, 1);

  @mixin flex-centered {
    display: flex;
    justify-content: center;
    align-content: center;
  }

  @include flex-centered;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  width: 100%;

  .gaugeContainerLine {
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    .gauge {
      display: flex;
      .marker {
        background-color: var(--value-text-background-color);
        color: var(--value-text-color);
      }
    }

    .minMaxDisplay {
      z-index: 1;
      display: flex;
      justify-content: space-between;
      width: 100%;
      .maxValue {
        background-color: var(--max-value-background-color);
        color: var(--max-value-text-color);
      }
      .minValue {
        background-color: var(--min-value-background-color);
        color: var(--min-value-text-color);
      }
    }

    .rangesContainer {
      overflow: hidden;
      position: absolute;
      width: calc(100%);
      background-color: rgba(0, 0, 0, 0.1);
      .range {
        height: 100%;
        position: absolute;
        // box-shadow: var(--gauge-ranges-box-shadow);
        @include flex-centered;
      }
    }

    span.marker {
      transform: translateY(-4px);
      position: absolute;
      z-index: 1;
      .indicator {
        content: "";
        border-left-style: solid;
        border-left-color: var(--indicator-line-background-color);
        transform: translateX(-50%);
        display: block;
        background-color: var(--indicator-line-background-color);
      }
    }

    .labelsContainerLine {
      width: calc(100%);
      height: calc(100%);
      display: flex;
      align-items: center;
      .rangeName {
        @include flex-centered;
        margin-top: 1px;
        position: absolute;
        filter: brightness(0.5);
      }
    }
  }

  .svgContainer {
    @include flex-centered;
    height: 100%;
    width: 100%;
    align-items: center;
    svg {
      width: 100%;
      height: 100%;
    }
    .gauge {
      position: absolute;
      @include flex-centered;
      div {
        @include flex-centered;
        color: var(--center-circle-text-color);
        background-color: var(--center-circle-background-color);
        & span.current-value {
          font-weight: 900;
        }
      }
    }
  }

  .circularMarker {
    width: 100%;
    position: absolute;

    .circularIndicator {
      background-color: var(--indicator-circle-background-color);
    }
  }
}
