@import "../common/_base";

gx-gauge {
  /**
  * @prop --component-height:
   * Set the height or the control. *Must be set before render the control*
   * (400px by default)
  */
  --component-height: 400px;

  /**
  * @prop --center-circle-text-color:
   * Define the color of the center text in `circle` gauge type.
   * (gray by default)
  */
  --center-circle-text-color: rgba(0, 0, 0, 0.7);

  /**
  * @prop --marker-backgorund:
   * Define the background color of the marker.
   * (1px by default)
  */
  --marker-backgorund: rgba(0, 0, 0, 0.7);

  /**
  * @prop --max-value-display-background:
   * Set the color of maximum value display background.
   * (rgba(44, 44, 44, 1) by default)
  */
  --max-value-display-background: rgba(44, 44, 44, 1);

  /**
  * @prop --max-value-display-color:
   * Set the color of maximum value display text.
   * (rgba(255, 255, 255, 0.8) by default)
  */
  --max-value-display-color: rgba(255, 255, 255, 0.8);

  /**
  * @prop --min-value-display-background:
   * Set the color of minimum value display background.
   * (rgba(44, 44, 44, 1) by default)
  */
  --min-value-display-background: rgba(44, 44, 44, 1);

  /**
  * @prop --min-value-display-color:
   * Set the color of minimum value display text.
   * (rgba(255, 255, 255, 0.8) by default)
  */
  --min-value-display-color: rgba(255, 255, 255, 0.8);

  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--component-height);

  .gaugeContainerLine {
    width: 98%;
    height: auto;
    display: flex;
    position: absolute;
    align-items: center;
    border-radius: 26px;
    .gauge {
      width: 100%;
      height: 100%;
      position: absolute;
      box-shadow: var(--gauge-box-shadow);
      border-radius: 20px;
      overflow: hidden;
      display: flex;
      z-index: 1;
      align-items: flex-end;
      .marker {
        background-color: var(--marker-backgorund);
        width: 3px;
        height: 66%;
        border-radius: 100% 100% 0 0;
        transition: 0.6s;
        z-index: 0;
      }
    }

    .minMaxDisplay {
      position: absolute;
      display: flex;
      justify-content: space-between;
      align-content: center;
      width: 100%;
      height: auto;
      .maxValue {
        display: flex;
        justify-content: center;
        align-content: center;
        background-color: var(--max-value-display-background);
        color: var(--max-value-display-color);
        border-radius: 10px;
        padding: 5px 10px;
        float: right;
        & span {
          width: 10px;
          height: 10px;
          transform: translate(110%, -90%) rotate(45deg);
          z-index: -1;
          background-color: var(--max-value-display-background);
          position: absolute;
          border-radius: 0% 200% 120% 100%;
        }
      }
      .minValue {
        display: flex;
        justify-content: center;
        align-content: center;
        background-color: var(--min-value-display-background);
        color: var(--min-value-display-color);
        border-radius: 10px;
        padding: 5px 10px;
        & span {
          width: 10px;
          height: 10px;
          border-radius: 0% 100% 120% 200%;
          transform: translate(calc(-100%), calc(-100%)) rotate(45deg);
          z-index: -1;
          background-color: var(--min-value-display-background);
          position: absolute;
        }
      }
    }
    .rangesContainer {
      overflow: hidden;
      border-radius: 20px;
      position: absolute;
      width: calc(100%);
      height: 100%;
      .range {
        height: 100%;
        position: absolute;
        box-shadow: var(--gauge-ranges-box-shadow);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: -1;
      }
    }
    .namesContainer {
      position: absolute;
      width: calc(100% + 4px);
      height: calc(100% + 4px);
      .rangeName {
        height: 100%;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        transform: translateY(-100%);
      }
    }
  }
  .svgContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    .gaugeContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      z-index: 0;
      position: absolute;
    }
    svg {
      z-index: -1;
    }
    .gauge {
      border-radius: 50%;
      font-size: 1.1rem;
      z-index: 1;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      div {
        color: var(--center-circle-text-color);
      }
    }
    span.marker {
      transition: 0.4s ease;
      position: absolute;
      .indicator {
        transition: 0.4s ease;
        content: "";
        border: 2px solid var(--marker-backgorund);
        transform: translateX(-1px);
        border-radius: 20px 20px 1000% 1000%;
        display: block;
        background-color: var(--marker-backgorund);
      }
    }
  }
}
