@import "../common/_base";
@import "../common/common-styling-config";

gx-group {
  flex: 1;
  width: 100%;

  & > fieldset {
    display: flex;
    flex: 1;
    @include transition-properties();

    & > legend {
      color: black;
      font-size: unset;
      margin: 0;

      & > .gx-group-caption {
        @include transition-properties();
      }
    }
  }
}
