@import "../common/_base";

gx-group {
  --elevation: 0;
  @include visibility(flex);
  @include overflowMode();
  flex: 1;
  width: 100%;

  & > fieldset {
    @include elevation();
    display: flex;
    flex: 1;

    & > legend {
      font-size: unset;
      margin: 0;
    }
  }
}
